<div class="container">

    <br>
    <h2 id="about">About</h2>
    <p>
        Gundam Database is a site created to connect GunPla Modelers all over the world.
        As of writing the about page, Gundam Database is being develop and maintained by myself and in near future I hope that Gundam Database can staff new members to improve the site.
        For any question or suggestions leave a forum post in "To developer" or email me at admin@gundamdatabase.com.
    </p>

    <br>
    <h2 id="faq">FAQ</h2>
    <h4>What is Gundam Database?</h4>
    <p>&nbsp Gundam Database is a web site to allow GunPla modelers all over the world to share their works and also keep track of what model kits built by users. </p>

    <h4>Gundam Database Beta?</h4>
    <p>&nbsp Yes Gundam Database is in beta version meaning many of the features are still not 100% finished and anything with in the site may be object to change. </p>

    <h4>Is Gundam Database a Online Store?</h4>
    <p>&nbsp No. We do not sell any merchandise and are not planning any time soon. We recommend users on supporting your local hobby shop to help build your GunPla community in your area. </p>

    <h4>How do I ask more Questions?</h4>
    <p>&nbsp Please leave your question in Forum post in "To developer" or email me at admin@gundamdatabase.com.</p>

    <br>
    <h2 id="contact">Contact Us</h2>
    <p>Email: admin@gundamdatabase.com <br></p>

    <br>
    <h2 id="terms">Terms of Service</h2>
    <p> &nbsp Gundam Datbase is owned and operated by gundamdatabase.com.
        The following terms of service are subject to change at any time by Gundam Database and my using our website you are agreeing to our terms of service.
        If you do not agree with the terms of service you may not have a access to use our web site, and we have our right to remove your account and content at any time.
        <br>
        <br>
        <strong>1. Use of site is void where prohibited</strong>
        <br>
        <strong>2. Our Privacy policy can be seen <a href="#privacy">Privacy Policy</a> </strong>
        <br>
        <strong>3. Ownership of content</strong>
        <br>
        &nbsp by uploading to our website you are agreeing to give grant and warrant to Gundam Database and we have the right to modify, delete, and take any action on using your content without your consent.
        <br>
        <strong>4. Any explicit content will be removed and user uploaded will be banned may even reported to the police if necessary. </strong>
        <br>
        <strong>5. Copyright</strong>
        <br>
        We are not responsible for any copyright violation by our users and any copyrighted content may be removed and also result in banning of the user.
        <br>
        <strong>6. Any Damages</strong>
        <br>
        To the extent permissible under applicable law, the maximum amount you may recover from Gundam Database is direct damages up to U.S. $10.
        <br>
        <strong>7. U.S. Export Controls</strong>
        <br>
        To the extent that the Site is subject to United States laws and regulations regarding the export of software, you are responsible to comply with those laws. International treaties and laws may also apply to your use of the Site. You are responsible to for complying with those laws as well.
        <br>
        <strong>8. You must be 13 or older to use our site.</strong>
        <br>
        <strong>9. More Terms</strong>
        <br>
        The Terms of service had not been compelete as of this time and new terms are subject to be added any any time without your consent.
        <br>

    </p>

    <br>
    <h2 id="privacy">Privacy Policy</h2>
    <br>
        <p>Privacy Policy comming soon.</p>
    <br>




    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>