

<div class="container">

    <br>
    <br>
    <div class="login_box">
        <h3>Login</h3>

        <div class="alert alert-danger" role="alert" ng-if="loginError.non_field_errors">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Unable to login with provided Username or Password
        </div>

        <form ng-submit="userLogin(user)">

            <label>Username:</label>
            <input type="text" ng-model="user.username" class="form-control" placeholder="Username">

            <label>Password:</label>
            <input type="password" ng-model="user.password" class="form-control" placeholder="Password">

            <br>
            <input type="submit" value="Login" class="btn btn-default" ng-disabled="!user.username || !user.password">
            <br>
        </form>


    </div>

</div>


