
<div class="container">

    <br>
    <div class="profile_user">
            <div class="profile_user_banner">
                <div ng-if="!edit.profile_header_image" class="profile_no_banner"></div>
                <img ng-if="edit.profile_header_image" ngf-src="edit.profile_header_image" ngf-background="edit.profile_header_image">
            </div>

            <div class="profile_user_image">
                <img class="img-circle" ng-if="!edit.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                <img class="img-circle" ngf-src="edit.profile_image" ngf-background="edit.profile_image">
            </div>

            <div class="profile_user_info">
                <h3>{{detail.username}}</h3>
                <p>Joined: {{detail.join_date |date:'MMM, yyyy'}}</p>
            </div>
        <br>

    </div>

    <br>



    <h3>Edit User info</h3>

    <form ng-submit="edit_profile(edit)">
        <br>
        <label>Profile Image</label>
        <input type="file" ngf-select ng-model="edit.profile_image" id="profile_image"
            name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB">

        <br>
        <label>Bio</label>
        <textarea ng-model="edit.bio" class="form-control" maxlength="1000" rows="10">

        </textarea>

        <br>
        <label>Level</label>

        <p ng-if="3 == edit.level">hi</p>
        <select class="form-control" ng-model="edit.level">
            <option value="1">Perfect</option>
            <option value="2">Master</option>
            <option value="3">Real</option>
            <option value="4">High</option>
            <option value="5">SD</option>
            <option value="6">Beginner</option>
            <option value="">-</option>
        </select>

        <br>
        <label>header image</label>

        <input type="file" ngf-select ng-model="edit.profile_header_image" id="profile_header_image"
            name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB">

        <br>
        <input type="submit" value="save" class="btn btn-default">
        <br>
    </form>

     <br><br><br><br><br><br><br><br><br><br>

</div>