<div class="container">

    <br>
    <div class="profile_user">
            <div class="profile_user_banner">
                <img ng-if="user.profile_header_image" src="{{user.profile_header_image}}">
                <div ng-if="!user.profile_header_image" class="profile_no_banner"></div>
            </div>

            <div class="profile_user_image">
                <img class="img-circle" ng-if="!user.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                <img class="img-circle" ng-if="user.profile_image" src="{{user.profile_image}}">
            </div>

            <div class="profile_user_info">
                <h3>{{user.username}} <span ng-if="user.username == cookie_username"><a href="/profile/user/edit">edit</a></span></h3>
                <p>Joined: {{user.join_date |date:'MMM, yyyy'}}</p>
            </div>
        <br>

    </div>

    <br>

     <div class="user_profile_built">
        <h3>{{user.username}}'s List</h3>

        <div class="user_profile_built_box" dir-paginate="rate in build|itemsPerPage: perPage" current-page="currentPage">
            <a href="/{{rate.gundams.graded.short}}/{{rate.gundams.number}}/detail">
                <div class="up_built_img">
                    <img ng-if="rate.gundams.image_thumb" src="{{rate.gundams.image_thumb}}">
                    <img ng-if="!rate.gundams.image_thumb" src="{{rate.gundams.image}}">
                </div>
                <div class="up_built_rating">
                    <div class="up_built_rating_built">
                        <div class="{{rate.builds}}"></div><p>{{rate.builds}}</p>
                    </div>
                    <div class="up_built_star" ng-if="rate.overall && rate.overall != 0">
                        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{rate.overall}}</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="up_built_text">
                    <p>
                        {{rate.gundams.graded.short}} {{rate.gundams.name}}
                    </p>
                </div>
            </a>
        </div>

        <div class="clear"></div>

    </div>

    <dir-pagination-controls></dir-pagination-controls>

    <br>
</div>