<div class="container">

    <br>
    <div class="profile_user">
            <div class="profile_user_banner">
                <img ng-if="user.profile_header_image" src="{{user.profile_header_image}}">
                <div ng-if="!user.profile_header_image" class="profile_no_banner"></div>
            </div>

            <div class="profile_user_image">
                <img class="img-circle" ng-if="!user.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                <img class="img-circle" ng-if="user.profile_image" src="{{user.profile_image}}">
            </div>

            <div class="profile_user_info">
                <h3>{{user.username}} <span ng-if="user.username == cookie_username"><a href="/profile/user/edit">edit</a></span></h3>
                <p>Joined: {{user.join_date |date:'MMM, yyyy'}}</p>
            </div>
        <br>

    </div>

    <br>

    <div class="blog_full_list" id="top">
        <div class="blog_full_list_box" dir-paginate="item in blog|itemsPerPage: perPage" current-page="currentPage">
            <div class="blog_full_list_title">
                <a href="/blog/post/{{item.pk}}"><p>{{item.title}}</p></a>
            </div>

            <div class="blog_full_list_content">

                <div class="blog_full_list_content_text" ng-if="1 == item.type" ng-bind-html="item.text">
                    {{item.text}}
                </div>

                <div class="blog_detail_images" ng-if="2 == item.type">
                        <img src="{{item.thumbnail}}">
                </div>

                <div class="blog_detail_video" ng-if="3 == item.type" ng-bind-html="item.video">
                    {{item.video}}
                </div>

            </div>

            <div class="blog_full_list_text">
                <div class="blog_full_list_user">
                    <a href=""><img src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                    <p>{{item.account.username}}</p></a>
                    <div class="clear"></div>
                    
                </div>
                <div class="blog_full_list_desc">
                    <p>{{item.description}}</p>
                    <p class="blog_full_list_desc_date"> {{item.date|timeago}}</p>
                </div>
                
            </div>
            
        </div>
    </div>

    <dir-pagination-controls ng-click="gotoTop()"></dir-pagination-controls>
    
</div>
