<div class="container">

    <br>
    <div class="profile_user">
            <div class="profile_user_banner">
                <img ng-if="user.profile_header_image" src="{{user.profile_header_image}}">
                <div ng-if="!user.profile_header_image" class="profile_no_banner"></div>
            </div>

            <div class="profile_user_image">
                <img class="img-circle" ng-if="!user.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                <img class="img-circle" ng-if="user.profile_image" src="{{user.profile_image}}">
            </div>

            <div class="profile_user_info">
                <h3>{{user.username}} <span ng-if="user.username == cookie_username"><a href="/profile/user/edit">edit</a></span></h3>
                <p>Joined: {{user.join_date |date:'MMM, yyyy'}}</p>
            </div>
        <br>

    </div>

    <br>

    <div class="user_profile_reviews">

        <h3>{{user.username}}'s Reviews</h3>


        <div class="user_profile_reviews_box" dir-paginate="item in rated|itemsPerPage: perPage" current-page="currentPage">
            <div class="up_review_box_gunpla">
                <a href="#">
                    <div class="up_review_box_gunpla_img">
                        <img ng-if="item.gundams.image_thumbnail" src="{{item.gundams.image_thumbnail}}">
                        <img ng-if="!item.gundams.image_thumbnail" src="{{item.gundams.image}}">
                    </div>
                    <p>{{item.gundams.graded.short}} {{item.gundams.name}}</p>
                </a>

            </div>

            <div class="up_review_box_review">
                <div class="up_review_box_review_text">
                    <a href="">
                        <p>
                            {{item.user_review}}
                        </p>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="up_review_box_rating">
                 <div class="up_review_rating_build_option">
                    <div style="background-color: #00BCD4;"></div><p>Overall: {{item.overall}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #2196F3;"></div><p>Design: {{item.design}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #8BC34A;"></div><p>Articulation: {{item.articulation}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #FF9800;"></div><p>Build Quality: {{item.build_quality}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #FFEB3B;"></div><p>Accessories: {{item.accessories}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #F44336;"></div><p>Features: {{item.features}}</p>
                </div>
                <div class="clear"></div>

            </div>

        </div>




        <div class="clear"></div>

    </div>
    <dir-pagination-controls></dir-pagination-controls>

    <br>
</div>