

<div class="container">

<br>
<br>
    <div class="login_box">
        <h3>Register</h3>

        <form ng-submit="userRegister(register)">

            <div class='alert alert-danger' ng-show='loginError.non_field_errors'>
                <span ng-repeat='error in registerError.non_field_errors'>
                    {{ error }} <br/>
                </span>
            </div>

            <label>Username: </label>
            <div class="form-group" ng-class="{'has-error': registerError.username }">
                <input type="text" ng-model="register.username" class="form-control" placeholder="Username">

                <label class="control-label" for="registerUsername" ng-if='registerError.username'>
                    <span>{{ registerError.username }}<br/></span>
                </label>


            </div>

            <label>Email: </label>
            <div class="form-group" ng-class="{'has-error': registerError.email1 }">
                <input type="text" ng-model="register.email1" class="form-control" placeholder="Email">

                <label class="control-label" for="registerUsername" ng-if='registerError.email1'>
                    <span>{{ registerError.email1 }}<br/></span>
                </label>


            </div>

            <label>Re-type Email: </label>
            <div class="form-group" ng-class="{'has-error': registerError.email2 }">
                <input type="text" ng-model="register.email2" class="form-control" placeholder="Re-type Email">

                <label class="control-label" for="registerUsername" ng-if='registerError.email2'>
                    <span>{{ registerError.email2 }}<br/></span>
                </label>


            </div>

            <label>Password: </label>
            <div class="form-group" ng-class="{'has-error': registerError.password }">
                <input type="password" ng-model="register.password" class="form-control" placeholder="Password">

                <label class="control-label" for="registerUsername" ng-if='registerError.password'>
                    <span>{{ registerError.password}}<br/></span>
                </label>


            </div>

            <label>Re-type Password: </label>
            <div class="form-group" ng-class="{'has-error': registerError.password2 }">
                <input type="password" ng-model="register.password2" class="form-control" placeholder="Re-type Password">

                <label class="control-label" for="registerUsername" ng-if='registerError.password2'>
                    <span>{{ registerError.password2}}<br/></span>
                </label>


            </div>

            <input type="submit" value="Register" class="btn btn-default">

        </form>


        
    </div>
    
</div>






