<div class="container">

    <br>
    <div class="profile_user">
            <div class="profile_user_banner">
                <img ng-if="user.profile_header_image" src="{{user.profile_header_image}}">
                <div ng-if="!user.profile_header_image" class="profile_no_banner"></div>
            </div>

            <div class="profile_user_image">
                <img class="img-circle" ng-if="!user.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                <img class="img-circle" ng-if="user.profile_image" src="{{user.profile_image}}">
            </div>

            <div class="profile_user_info">
                <h3>{{user.username}} <span ng-if="user.username == cookie_username"><a href="/profile/user/edit">edit</a></span></h3>
                <p>Joined: {{user.join_date |date:'MMM, yyyy'}}</p>
            </div>
        <br>

    </div>

    <br>


    <div class="user_profile_table">
        <h3>{{user.username}}'s GunPla List</h3>

        <div class="user_profile_build_table">
            <table id='user_porfile_build_table_id' class="table table-borderd table-striped">

                <thead>
                    <th>Gundam</th>
                    <th>Grade</th>
                    <th>Number</th>
                    <th>Status</th>
                    <th>Overall</th>
                </thead>

                <tbody>

                <tr data-ng-repeat="rate in build|limitTo:8">

                    <td> <a href="/{{rate.gundams.graded.short}}/{{rate.gundams.number}}/detail">{{rate.gundams.name}}</a></td>
                    <td><a href="/{{rate.gundams.graded.short}}/list">{{rate.gundams.graded.short}}</a></td>
                    <td><a href="/{{rate.gundams.graded.short}}/{{rate.gundams.number}}/detail">{{rate.gundams.number}}</a></td>
                    <td>{{rate.builds}}</td>
                    <td>{{rate.overall}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
     <a href="/profile/{{user.username}}/list"><p align="right">More {{user.username}}'s List</p></a>

    <br>



    <div class="user_profile_reviews">

        <h3>{{user.username}}'s Reviews</h3>


        <div class="user_profile_reviews_box" data-ng-repeat="item in rated|limitTo:4">
            <div class="up_review_box_gunpla">
                <a href="#">
                    <div class="up_review_box_gunpla_img">
                        <img ng-if="item.gundams.image_thumbnail" src="{{item.gundams.image_thumbnail}}">
                        <img ng-if="!item.gundams.image_thumbnail" src="{{item.gundams.image}}">
                    </div>
                    <p>{{item.gundams.graded.short}} {{item.gundams.name}}</p>
                </a>

            </div>

            <div class="up_review_box_review">
                <div class="up_review_box_review_text">
                    <a href="">
                        <p>
                            {{item.user_review}}
                        </p>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="up_review_box_rating">
                 <div class="up_review_rating_build_option">
                    <div style="background-color: #00BCD4;"></div><p>Overall: {{item.overall}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #2196F3;"></div><p>Design: {{item.design_proportions}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #8BC34A;"></div><p>Articulation: {{item.articulation}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #FF9800;"></div><p>Build Quality: {{item.build_quality}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #FFEB3B;"></div><p>Accessories: {{item.accessories}}</p>
                </div>

                <div class="up_review_rating_build_option">
                    <div style="background-color: #F44336;"></div><p>Features: {{item.features}}</p>
                </div>
                <div class="clear"></div>

            </div>

        </div>




        <div class="clear"></div>
        <a href="/profile/{{user.username}}/build/reviews"><p align="right">More {{user.username}}'s Reviews</p></a>

    </div>





    <br>


<!--
    <div class="user_profile_built">
        <h3>{{user.username}}'s List</h3>

        <div class="user_profile_built_box" data-ng-repeat="rate in build|limitTo:6">
            <a href="/{{rate.gundams.graded.short}}/{{rate.gundams.number}}/detail">
                <div class="up_built_img">
                    <img ng-if="rate.gundams.image_thumb" src="{{rate.gundams.image_thumb}}">
                    <img ng-if="!rate.gundams.image_thumb" src="{{rate.gundams.image}}">
                </div>
                <div class="up_built_rating">
                    <div class="up_built_rating_built">
                        <div class="{{rate.builds}}"></div><p>{{rate.builds}}</p>
                    </div>
                    <div class="up_built_star" ng-if="rate.overall && rate.overall != 0">
                        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{rate.overall}}</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="up_built_text">
                    <p>
                        {{rate.gundams.graded.short}} {{rate.gundams.name}}
                    </p>
                </div>
            </a>
        </div>

        <div class="clear"></div>
        <a href="/profile/{{user.username}}/list"><p align="right">More {{user.username}}'s List</p></a>

    </div>

-->

    <h3>{{user.username}}'s Post</h3>
    <div class="user_profile_blog_square">

        <div class="blog_square" ng-repeat="blog in user.user_blog_post|limitTo:12">

            <div ng-if="blog.type != 2" class="blog_square_inner">

                <div class="blog_square_user">
                    <div class="blog_square_user_img">
                        <img  ng-if="!user.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                        <img  ng-if="user.profile_image" src="{{user.profile_image}}">
                    </div>
                    <div class="blog_square_user_username">
                        <a href="/blog/post/{{blog.pk}}"><p>{{user.username}}</p></a>
                    </div>
                </div>

                <div ng-if="blog.type == 1" class="blog_square_content">
                    <h4><a href="/blog/post/{{blog.pk}}">{{blog.title}}</a></h4>
                    <hr>
                    <p ng-if="!blog.thumbnail && blog.text_plain"><a href="/blog/post/{{blog.pk}}">{{blog.text_plain}} </a></p>

                    <a ng-if="blog.thumbnail" href="/blog/post/{{blog.pk}}"> <div class="blog_square_content_img" style="background-image: url({{blog.thumbnail}});"></div></a>

                    <a ng-if="!blog.thumbnail && !blog.text_plain" href="/blog/post/{{blog.pk}}"> <div class="blog_square_content_img" style="background-image: url(https://s3.amazonaws.com/gundam-db-public/etc-image/no_image.png);"></div></a>

                </div>

                <div ng-if="blog.type == 3" class="blog_square_content">
                    <h4><a href="/blog/post/{{blog.pk}}">{{blog.title}}</a></h4>
                    <hr>

                    <div class="blog_square_content_video" ng-bind-html="blog.video">
                        {{blog.video}}
                    </div>
                </div>


                <div class="blog_square_info">
                    <p> {{blog.date|timeago}}</p>
                </div>

            </div>


            <div ng-if="blog.type == 2" class="blog_square_image_inner">
                <a href="/blog/post/{{blog.pk}}">
                    <div class="gi_list_item_box" style="background-image: url({{blog.thumbnail}});">

                        <div class="gi_list_item_box_text">
                            <div class="gi_list_item_box_text_title">
                                <p>{{blog.title}}<p>
                            </div>
                            <div class="gi_list_item_box_text_user">
                                <p>by: {{user.username}}
                                    <span>{{blog.date|timeago}}</span><p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="clear"></div>

    </div>
    <a href="/profile/{{user.username}}/blog/posts"><p align="right">More {{user.username}}'s Blog Post</p></a>

    <br><br><br><br><br>

</div>