

<div class="container">

    <h3>Blog Post</h3>
    <br>

    <ul class="dynamic-grid" angular-grid="list" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" infinite-scroll="test()" >
     <li class=" grid" data-ng-repeat="pic in list" ng-if="pic.type==1 || pic.type==2 || pic.type==3">
         <a href="/blog/post/{{pic.pk}}" class="blog_list_link">
             <!--<img src="{{pic.thumbnail}}" class="grid-img" />-->
             <img ng-if="pic.thumbnail" class="grid-img"  src="{{pic.thumbnail}}" ng-if="pic.type==1 || pic.type==2">
             <div class="blog_list_video" ng-if="pic.type==3" ng-bind-html="pic.video" >
                {{pic.video}}
                 <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/F5ESmoCh77k" frameborder="0" allowfullscreen></iframe>-->
             </div>
             <div class="blog_list_text">
                 <hr class="hr_blog_list" />
                 <div class="blog_list_text_title"><p>{{pic.title}}</p></div>
                 <div class="blog_list_text_user"><p><span style="color:#939393">By:</span> {{pic.account.username}}</p></div>
                 <div class="blog_list_text_date"><p>Uploaded: {{pic.date|timeago}}</p></div>
             </div>
        </a>
     </li>
 </ul>

    <div class="loading_image" ng-if="loading && !done">
        <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/loading.gif">
    </div>

    <div ng-if="done">
        <p>-fin-</p>
    </div>


</div>