<form ng-submit="create_blog(new_blog)">
    <label>Title</label>
    <input type="text" ng-model="new_blog.title" class="form-control" placeholder="Title">

    <br>
    <label>Description</label>
    <input type="text" ng-model="new_blog.description" class="form-control" placeholder="Description">

    <br>
    <label>Text</label>
    <textarea ng-model="new_blog.text" class="form-control">

    </textarea>

    <br>
    <label>Image</label>
    <input type="file" ngf-select multiple ng-model="new_blog.images"
           name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">

    <br>
    <label>Thumbnail</label>
    <input type="file" ngf-select ng-model="new_blog.thumbnail" id="thumbnail"
        name="file" ngf-pattern="'image/*'"
        ngf-accept="'image/*'" ngf-max-size="20MB">

    <!--<input type="file" ng-model="new_blog.thumbnail" id="thumbnail">

    <br>
    <div class="button" ngf-select ng-model="new_blog.thumbnail" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}">Select</div>-->


    <input type="submit" value="Submit" class="btn btn-default">
</form>

{{new_blog_errors}}
{{upload_error}}