

<div class="container">
    <h3>New Image Blog Post</h3>

    <br>

    <form ng-submit="create_blog(new_blog)">

        <label>Title</label>

        <div class="form-group has-error" role="alert" ng-show="new_blog_errors.title">
            <label class="control-label" for="inputError1">{{ new_blog_errors.title }}</label>
            <input type="text" ng-model="new_blog.title" class="form-control" placeholder="Title" maxlength="100">
        </div>
            <input type="text" ng-model="new_blog.title" class="form-control" placeholder="Title" maxlength="100" ng-hide="new_blog_errors.title">

        <br>

        <label>Add a Gundam</label>

            <p>Grade:</p>
             <select class="form-control" ng-model="select_grade">
                <option value="MG"> MG</option>
                <option value="PG"> PG</option>
                <option value="RG"> RG</option>
                <option value="HGUC"> HGUC</option>
                <option value="RE"> RE 1/100</option>
                <option value="SD"> SD</option>
                <option value="" selected>-</option>

            </select>

            <p>Gunplas:</p>
             <select class="form-control" ng-model="list_item" ng-disabled="select_disable">
                <option ng-repeat="item in select_list" value="{{item.number}}">#{{item.number}}: {{item.name}}</option>
                <option value="">-</option>

            </select>




        <br>


        <br>
        <label>Description</label>
        <input type="text" ng-model="new_blog.description" class="form-control" placeholder="Description" maxlength="250">


        <br>

        <label>Images</label>

        <div class="form-group has-error" role="alert" ng-show="new_blog_errors.images">
            <label class="control-label" for="inputError1">{{ new_blog_errors.images }}</label>
        </div>

        <input type="file" ngf-select multiple ng-model="new_blog.images"
           name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">

        <br>

        <div class="blog_upload_image_preview" ng-if="new_blog.images" >
            <div ng-repeat="img in new_blog.images" class="blog_upload_image_preview_repeat" >
                <img ngf-src="img" ngf-background="img" />
            </div>

            <div class="clear"></div>
        </div>

        <br>

        <input type="submit" value="Submit" class="btn btn-default" ng-disabled="button">
    </form>

    <br>

</div>