

<div class="container">
    <h3>New Blog Post</h3>

    <br>

    <form ng-submit="create_blog(new_blog)">

        <label>Title</label>

        <div class="form-group has-error" role="alert" ng-show="new_blog_errors.title">
            <label class="control-label" for="inputError1">{{ new_blog_errors.title }}</label>
            <input type="text" ng-model="new_blog.title" class="form-control" placeholder="Title" maxlength="100">
        </div>
            <input type="text" ng-model="new_blog.title" class="form-control" placeholder="Title" maxlength="100" ng-hide="new_blog_errors.title">

        <br>

        <label>Add a Gundam</label>

            <p>Grade:</p>
             <select class="form-control" ng-model="select_grade">
                <option value="MG"> MG</option>
                <option value="PG"> PG</option>
                <option value="RG"> RG</option>
                <option value="HG"> HG</option>
                <option value="RE"> RE 1/100</option>
                <option value="SD"> SD</option>
                <option value="" selected>-</option>

            </select>

            <p>Gunplas:</p>
             <select class="form-control" ng-model="list_item" ng-disabled="select_disable">
                <option ng-repeat="item in select_list" value="{{item.number}}">#{{item.number}}: {{item.name}}</option>
                <option value="">-</option>

            </select>




        <br>


        <label>Thumbnail</label>
        <input type="file" ngf-select ng-model="new_blog.thumbnail" id="thumbnail"
            name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB">

        <div ng-if="new_blog.thumbnail">
            <img width="100px" height="100px" ngf-src="new_blog.thumbnail" ngf-background="new_blog.thumbnail" />

        </div>

        <br>
        <label>Description</label>
        <textarea ng-model="new_blog.description" class="form-control" placeholder="Description" maxlength="250" rows="3">
        </textarea>

        <br>
        <label>Blog Post</label>

        <div class="form-group has-error" role="alert" ng-show="new_blog_errors.text">
            <label class="control-label" for="inputError1">{{ new_blog_errors.text }}</label>
        </div>

        <textarea ng-model="new_blog.text" class="form-control" ui-tinymce="tinymceOptions">

        </textarea>

        <br>

        <input type="submit" value="Submit" class="btn btn-default" ng-disabled="button">
    </form>

    <br>

</div>