<div class="container">

    <br>
    <br>
    <div class="blog_detail">

        <div class="blog_type">
            <h4> Blog Post</h4>
        </div>

        <h2 class="blog_title">{{blog.title}}</h2>
        <p class="blog_user_info"> <a href="#">{{blog.account.username}}</a> &middot; Feb 27, 2016</p>

        <hr/>

        <div class="blog_post">

            <div class="blog_detail_text" ng-if="1 == blog.type" ng-bind-html="text">
                {{text}}
            </div>

            <div class="blog_detail_images" ng-if="2 == blog.type">
                <div class="blog_detail_images_img" ng-repeat="img in blog.images | orderBy: 'order'">
                    <img src="{{img.image}}">
                </div>
            </div>

            <div class="blog_detail_video" ng-if="3 == blog.type" ng-bind-html="video">
                {{video}}
            </div>

        </div>

        <hr/>
        <div class="blog_detail_description">
            <h5>Description</h5>
            <p>{{blog.description}}</p>

        </div>






    </div>



</div>