<div class="container">
    <h3>Write a Review</h3>

    <br>

    <form ng-submit="create_review(new_review)">

        <label>Build Status</label>
            <select class="form-control" ng-model="new_review.build">
                <option value="null" selected>-</option>
                <option value="1"> Built</option>
                <option value="2"> Custom Built</option>
                <option value="3"> Building</option>
                <option value="4"> Purchased</option>
                <option value="5"> Wish List</option>
                <option value="6"> Not Building</option>
            </select>


        <p>* You can set build status but only rate and write review when build status is Built or Custom Built</p>
        <br>
        <label>Overall</label>
            <select class="form-control" ng-model="new_review.overall" ng-disabled="disabled">
                <option value="10"> 10</option>
                <option value="9"> 9</option>
                <option value="8"> 8</option>
                <option value="7"> 7</option>
                <option value="6"> 6</option>
                <option value="5"> 5</option>
                <option value="4"> 4</option>
                <option value="3"> 3</option>
                <option value="2"> 2</option>
                <option value="1"> 1</option>
                <option value="" selected>-</option>

            </select>

        <br>
        <label>Design and Proportions</label>
            <select class="form-control" ng-model="new_review.design_proportions" ng-disabled="disabled">
                <option value="10"> 10</option>
                <option value="9"> 9</option>
                <option value="8"> 8</option>
                <option value="7"> 7</option>
                <option value="6"> 6</option>
                <option value="5"> 5</option>
                <option value="4"> 4</option>
                <option value="3"> 3</option>
                <option value="2"> 2</option>
                <option value="1"> 1</option>
                <option value="" selected>-</option>

            </select>

        <br>
        <label>Features</label>
            <select class="form-control" ng-model="new_review.features" ng-disabled="disabled">
                <option value="10"> 10</option>
                <option value="9"> 9</option>
                <option value="8"> 8</option>
                <option value="7"> 7</option>
                <option value="6"> 6</option>
                <option value="5"> 5</option>
                <option value="4"> 4</option>
                <option value="3"> 3</option>
                <option value="2"> 2</option>
                <option value="1"> 1</option>
                <option value="" selected>-</option>

            </select>

        <br>
        <label>Articulation</label>
            <select class="form-control" ng-model="new_review.articulation" ng-disabled="disabled">
                <option value="10"> 10</option>
                <option value="9"> 9</option>
                <option value="8"> 8</option>
                <option value="7"> 7</option>
                <option value="6"> 6</option>
                <option value="5"> 5</option>
                <option value="4"> 4</option>
                <option value="3"> 3</option>
                <option value="2"> 2</option>
                <option value="1"> 1</option>
                <option value="" selected>-</option>

            </select>

        <br>
        <label>Build Quality</label>
            <select class="form-control" ng-model="new_review.build_quality" ng-disabled="disabled">
                <option value="10"> 10</option>
                <option value="9"> 9</option>
                <option value="8"> 8</option>
                <option value="7"> 7</option>
                <option value="6"> 6</option>
                <option value="5"> 5</option>
                <option value="4"> 4</option>
                <option value="3"> 3</option>
                <option value="2"> 2</option>
                <option value="1"> 1</option>
                <option value="" selected>-</option>

            </select>

        <br>
        <label>Accessories</label>
            <select class="form-control" ng-model="new_review.accessories" ng-disabled="disabled">
                <option value="10"> 10</option>
                <option value="9"> 9</option>
                <option value="8"> 8</option>
                <option value="7"> 7</option>
                <option value="6"> 6</option>
                <option value="5"> 5</option>
                <option value="4"> 4</option>
                <option value="3"> 3</option>
                <option value="2"> 2</option>
                <option value="1"> 1</option>
                <option value="" selected>-</option>

            </select>

        <br>

        <label>Review</label>

        <textarea ng-model="new_review.user_review" class="form-control" rows="8" ng-disabled="disabled">

        </textarea>

        <br>

        <input type="submit" value="Post" class="btn btn-default">

        <br>

    </form>

    <br>


</div>