
<div class="container">
    <h3>Edit a Review</h3>

    <br>

    <form ng-submit="edit_review(new_review)">

        <label>Build Status</label>
            <select class="form-control" ng-model="new_review.build">
                <option value="null">-</option>
                <option value="1" ng-selected="new_review.build == 1" > Built</option>
                <option value="2" ng-selected="new_review.build == 2"> Custom Built</option>
                <option value="3" ng-selected="new_review.build == 3"> Building</option>
                <option value="4" ng-selected="new_review.build == 4"> Purchased</option>
                <option value="5" ng-selected="new_review.build == 5"> Wish List</option>
                <option value="6" ng-selected="new_review.build == 6"> Not Building</option>
            </select>


        <p>* You can set build status but only rate and write review when build status is Built or Custom Built</p>
        <br>
        <label>Overall</label>
            <select class="form-control" ng-model="new_review.overall" ng-disabled="disabled">
                <option value="10" ng-selected="new_review.overall == 10"> 10</option>
                <option value="9" ng-selected="new_review.overall == 9"> 9</option>
                <option value="8" ng-selected="new_review.overall == 8"> 8</option>
                <option value="7" ng-selected="new_review.overall == 7"> 7</option>
                <option value="6" ng-selected="new_review.overall == 6"> 6</option>
                <option value="5" ng-selected="new_review.overall == 5"> 5</option>
                <option value="4" ng-selected="new_review.overall == 4"> 4</option>
                <option value="3" ng-selected="new_review.overall == 3"> 3</option>
                <option value="2" ng-selected="new_review.overall == 2"> 2</option>
                <option value="1" ng-selected="new_review.overall == 1"> 1</option>
                <option value="">-</option>

            </select>

        <br>
        <label>Design and Proportions</label>
            <select class="form-control" ng-model="new_review.design_proportions" ng-disabled="disabled">
                <option value="10" ng-selected="new_review.design_proportions == 10"> 10</option>
                <option value="9" ng-selected="new_review.design_proportions == 9"> 9</option>
                <option value="8" ng-selected="new_review.design_proportions == 8"> 8</option>
                <option value="7" ng-selected="new_review.design_proportions == 7"> 7</option>
                <option value="6" ng-selected="new_review.design_proportions == 6"> 6</option>
                <option value="5" ng-selected="new_review.design_proportions == 5"> 5</option>
                <option value="4" ng-selected="new_review.design_proportions == 4"> 4</option>
                <option value="3" ng-selected="new_review.design_proportions == 3"> 3</option>
                <option value="2" ng-selected="new_review.design_proportions == 2"> 2</option>
                <option value="1" ng-selected="new_review.design_proportions == 1"> 1</option>
                <option value="">-</option>

            </select>

        <br>
        <label>Features</label>
            <select class="form-control" ng-model="new_review.features" ng-disabled="disabled">
                <option value="10" ng-selected="new_review.features == 10"> 10</option>
                <option value="9" ng-selected="new_review.features == 9"> 9</option>
                <option value="8" ng-selected="new_review.features == 8"> 8</option>
                <option value="7" ng-selected="new_review.features == 7"> 7</option>
                <option value="6" ng-selected="new_review.features == 6"> 6</option>
                <option value="5" ng-selected="new_review.features == 5"> 5</option>
                <option value="4" ng-selected="new_review.features == 4"> 4</option>
                <option value="3" ng-selected="new_review.features == 3"> 3</option>
                <option value="2" ng-selected="new_review.features == 2"> 2</option>
                <option value="1" ng-selected="new_review.features == 1"> 1</option>
                <option value="">-</option>

            </select>

        <br>
        <label>Articulation</label>
            <select class="form-control" ng-model="new_review.articulation" ng-disabled="disabled">
                <option value="10" ng-selected="new_review.articulation == 10"> 10</option>
                <option value="9" ng-selected="new_review.articulation == 9"> 9</option>
                <option value="8" ng-selected="new_review.articulation == 8"> 8</option>
                <option value="7" ng-selected="new_review.articulation == 7"> 7</option>
                <option value="6" ng-selected="new_review.articulation == 6"> 6</option>
                <option value="5" ng-selected="new_review.articulation == 5"> 5</option>
                <option value="4" ng-selected="new_review.articulation == 4"> 4</option>
                <option value="3" ng-selected="new_review.articulation == 3"> 3</option>
                <option value="2" ng-selected="new_review.articulation == 2"> 2</option>
                <option value="1" ng-selected="new_review.articulation == 1"> 1</option>
                <option value="">-</option>

            </select>

        <br>
        <label>Build Quality</label>
            <select class="form-control" ng-model="new_review.build_quality" ng-disabled="disabled">
                <option value="10" ng-selected="new_review.build_quality == 10"> 10</option>
                <option value="9" ng-selected="new_review.build_quality == 9"> 9</option>
                <option value="8" ng-selected="new_review.build_quality == 8"> 8</option>
                <option value="7" ng-selected="new_review.build_quality == 7"> 7</option>
                <option value="6" ng-selected="new_review.build_quality == 6"> 6</option>
                <option value="5" ng-selected="new_review.build_quality == 5"> 5</option>
                <option value="4" ng-selected="new_review.build_quality == 4"> 4</option>
                <option value="3" ng-selected="new_review.build_quality == 3"> 3</option>
                <option value="2" ng-selected="new_review.build_quality == 2"> 2</option>
                <option value="1" ng-selected="new_review.build_quality == 1"> 1</option>
                <option value="">-</option>

            </select>

        <br>
        <label>Accessories</label>
            <select class="form-control" ng-model="new_review.accessories" ng-disabled="disabled">
                <option value="10" ng-selected="new_review.accessories == 10"> 10</option>
                <option value="9" ng-selected="new_review.accessories == 9"> 9</option>
                <option value="8" ng-selected="new_review.accessories == 8"> 8</option>
                <option value="7" ng-selected="new_review.accessories == 7"> 7</option>
                <option value="6" ng-selected="new_review.accessories == 6"> 6</option>
                <option value="5" ng-selected="new_review.accessories == 5"> 5</option>
                <option value="4" ng-selected="new_review.accessories == 4"> 4</option>
                <option value="3" ng-selected="new_review.accessories == 3"> 3</option>
                <option value="2" ng-selected="new_review.accessories == 2"> 2</option>
                <option value="1" ng-selected="new_review.accessories == 1"> 1</option>
                <option value="">-</option>

            </select>

        <br>

        <label>Review</label>
        <p>{{new_review.user_review}}</p>
        <textarea ng-model="new_review.user_review" class="form-control" rows="8" ng-disabled="disabled">

        </textarea>

        <br>

        <input type="submit" value="Update" class="btn btn-default">

        <br>

    </form>

    <br>


</div>

