
<div class="container">

    <br>
    <div class="gundam_sub_view">
        <div class="gundam_sub_view_img">
            <div class="gundam_sub_view_img_box">
                <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/detail" ng-if="gunpla.image_thumb"><img src="{{gunpla.image_thumb}}"></a>
                <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/detail" ng-if="!gunpla.image_thumb"><img src="{{gunpla.image}}"></a>
            </div>
        </div>
        <div class="gundam_sub_view_text">
            <h4>{{gunpla.name}}</h4>
            <p>{{gunpla.graded.short}}: #{{gunpla.number}} <br> released: {{gunpla.date| date:'MMM, yyyy'}} <br> price: {{gunpla.price}}yen</p>



        </div>
        <div class="clear"></div>
    </div>

    <br>

    <h3>Reviews <small>{{list.length}}</small></h3>

    <div class="review_full_list" dir-paginate='item in list |orderBy: orderItems |itemsPerPage: perPage' current-page="currentPage">

        <div class="review_full_list_item">
            <div class="review_full_list_image">
                <a href="" ng-if="item.user_profile.profile_image"><img src="{{item.user_profile.profile_image}}"></a>
                <a href="" ng-if="!item.user_profile.profile_image"><img src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg"></a>
            </div>
            <div class="review_full_list_reivew">
                <h5>Review by: {{item.user_profile.username}}, {{item.date| date:'MMM d, yyyy'}}</h5>
                <p>
                    {{item.user_review}}
                </p>

            </div>
            <div class="clear"></div>
            <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/reviews/{{item.user_profile.username}}"><p style="text-align:right;">Read full Review</p></a>

            <div class="review_full_box_rating">
                 <div class="review_full_rating_build_option">
                    <div style="background-color: #00BCD4;"></div><p>Overall: {{item.overall}}</p>
                </div>

                <div class="review_full_rating_build_option">
                    <div style="background-color: #2196F3;"></div><p>Design: {{item.design_proportions}}</p>
                </div>

                <div class="review_full_rating_build_option">
                    <div style="background-color: #8BC34A;"></div><p>Features: {{item.features}}</p>
                </div>

                <div class="review_full_rating_build_option">
                    <div style="background-color: #FF9800;"></div><p>Build Quality: {{item.build_quality}}</p>
                </div>

                <div class="review_full_rating_build_option">
                    <div style="background-color: #FFEB3B;"></div><p>Articulation: {{item.articulation}}</p>
                </div>

                <div class="review_full_rating_build_option">
                    <div style="background-color: #F44336;"></div><p>Accessories: {{item.accessories}}</p>
                </div>
                <div class="clear"></div>

            </div>
            <hr>
        </div>


    </div>



    <dir-pagination-controls></dir-pagination-controls>

</div>



