
<div class="container">

    <br>
    <div class="profile_user">
            <div class="profile_user_banner">
                <img ng-if="detail.user_profile.profile_header_image" src="{{detail.user_profile.profile_header_image}}">
                <div ng-if="!detail.user_profile.profile_header_image" class="profile_no_banner"></div>
            </div>

            <div class="profile_user_image">
                <img class="img-circle" ng-if="!detail.user_profile.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                <img class="img-circle" ng-if="detail.user_profile.profile_image" src="{{detail.user_profile.profile_image}}">
            </div>

            <div class="profile_user_info">
                <h3>{{detail.user_profile.username}}</h3>
                <p>Joined: {{detail.user_profile.join_date |date:'MMM, yyyy'}}</p>
            </div>
        <br>

    </div>


    <h3>{{detail.user_profile.username}}'s Review</h3>

    <div class="gunpla_detail_reviews_box">
            <div class="gunpla_detail_review_box_gunpla">
                <a href="/{{detail.gundams.graded.short}}/{{detail.gundams.number}}/detail">
                    <div class="gunpla_detail_review_box_gunpla_img">
                        <img ng-if="detail.gundams.image_thumbnail" src="{{detail.gundams.image_thumbnail}}">
                        <img ng-if="!detail.gundams.image_thumbnail" src="{{detail.gundams.image}}">
                    </div>
                    <p>{{detail.gundams.graded.short}} {{detail.gundams.name}}</p>
                </a>

            </div>

            <div class="gunpla_detail_review_box_review">
                <div class="gunpla_detail_review_box_review_text">
                    <a href="">
                        <p>
                            <strong>reviewed on {{detail.date|date:'MMM d, yyyy'}}</strong><br>
                            {{detail.user_review}}
                        </p>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="gunpla_detail_review_box_rating">
                 <div class="gunpla_detail_review_rating_build_option">
                    <div style="background-color: #00BCD4;"></div><p>Overall: {{detail.overall}}</p>
                </div>

                <div class="gunpla_detail_review_rating_build_option">
                    <div style="background-color: #2196F3;"></div><p>Design: {{detail.design_proportions}}</p>
                </div>

                <div class="gunpla_detail_review_rating_build_option">
                    <div style="background-color: #8BC34A;"></div><p>Articulation: {{detail.articulation}}</p>
                </div>

                <div class="gunpla_detail_review_rating_build_option">
                    <div style="background-color: #FF9800;"></div><p>Build Quality: {{detail.build_quality}}</p>
                </div>

                <div class="gunpla_detail_review_rating_build_option">
                    <div style="background-color: #FFEB3B;"></div><p>Accessories: {{detail.accessories}}</p>
                </div>

                <div class="gunpla_detail_review_rating_build_option">
                    <div style="background-color: #F44336;"></div><p>Features: {{detail.features}}</p>
                </div>
                <div class="clear"></div>

            </div>

        </div>


    <br><br>



</div>
