<div class="container">
    <h2>Developer</h2>

</div>
<br>
<div class="portfolio_user">
    <div class="container">
        
        <div class="portfolio_user_image">
            <a href="">
                <div class="portfolio_user_image_box" style="background-image: url(https://s3.amazonaws.com/gundam-db-public/etc-image/20150904_231937.jpg);">
                </div>
            </a>


        </div>

        <div class="portfolio_user_info">
            <p>
                <span id="portfolio_user_info_hello">Hello!</span> <br/> 
                <span id="portfolio_user_info_name">I'm Young Beom Ko</span> <br/>
                <span id="portfolio_user_info_job">Full Stack Web Developer</span><br/>
                New York, NY.

            </p>
        </div>

        <div class="clear"></div>

    </div>
    
</div>

<div class="container">

    <div class="portfolio_user_text_box">
        <br>
        <div class="portfolio_user_text_title">
            <p><span></span>Introduction<span></span></p>
        </div>
        <div class="portfolio_user_text_content">
            
            <p>
                &nbsp Hello! my name is Young Beom Ko a Founder and sole Full Stack Web Developer for Gundam Database based in New York City. I had recived Bachelor's Degree in Computer Science from The City College of New York on January of 2016 and currently seeking new opportunity in Web development in front, back or full stack development role. Gundam Database was designed and built by myself as a GunPla modeler, I always wanted to use Gundam Database like web service and decided to build the web application to learn and develop my skill as web developer. I have two startup experience first being FootBar working as Full Stack developer and a Scrum Master in small team of student developers, second being Gundam Database for combine of over a year of web development experience. For any open role in entry level or Jr. web development you can contact me at <a href="mailto:youngbeomko1@gmail.com?Subject=GundamDatabase%20Developer">youngbeomko1@gmail.com</a>.
            </p>
        </div>

        
    </div>
    <br><br>
    
</div>

<div class="portfolio_user_school">
    <div class="container">

        <div class="portfolio_user_text_box">
            <br>
            <div class="portfolio_user_text_title">
                <p><span></span>Education<span></span></p>
            </div>

            <div class="portfolio_user_school_img">
                <a href="">
                    <div class="portfolio_user_school_img_box" style="background-image: url(https://s3.amazonaws.com/gundam-db-public/etc-image/ccny.jpg);">
                    </div>
                </a>
                
            </div>

            <div class=" portfolio_user_school_text">
                <p>
                    <span>The City College of New York, (City University of New York)</span><br>
                    Bachelor of Science in Computer Science<br>
                    January 2012 - January 2016
                </p>
                
            </div>

            <div class="clear"></div>

            <br><br>
        </div>
        
    </div>
    
</div>

<div class="container">

    <div class="portfolio_user_text_box">
        <br>
        <div class="portfolio_user_text_title">
            <p><span></span>Skills<span></span></p>
        </div>
        <div class="portfolio_user_text_skills">
            
            <ul>
                
                <li>Python</li>
                <li>JavaScript</li>
                <li>C++</li>
                <li>Django</li>
                <li>AngularJS 1.x</li>
                <li>Django REST Framework</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>SASS</li>
                <li>SCSS</li>
                <li>JQuery</li>
                <li>Bootstrap</li>
                <li>AWS</li>
                <li>Git</li>
                <li>Heroku</li>
                <li>Ajax</li>
                <li>Flask</li>
                <li>Mercurial</li>
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>Windows 7/8/10</li>
                <li>Unix</li>
                <li>Mac OSX</li>
                <li>Linux</li>
                <li>Ubuntu</li>
                <li>Centos</li>
                <li>C</li>
                <li>Matlab</li>
                <li>TDD</li>
                <li>Microsoft Office</li>
                <li>Adobe Lightroom</li>

            
            </ul>
        </div>

        
    </div>
    <br><br><br>

</div>


<div class="portfolio_user_school">
    <div class="container">

        <div class="portfolio_user_text_box">
            <br>
            <div class="portfolio_user_text_title">
                <p><span></span>Experience<span></span></p>
            </div>

            <div class="portfolio_user_text_experience">
                <div class="portfolio_user_text_experience_title">
                    <p>Gundam Database <span>May 2016 - Current</span></p>
                    <hr>
                    <p>Founder & Full Stack Developer</p>

                </div>

                <div class="portfolio_user_text_experience_content">
                    <p>
                        Django based web application founded by myself for GunPla (Gundam Plastic Model Kit) modelers allowing community of GunPla Modelers to connect with each other on social networking with also providing database for all GunPla kits.
                    </p>
                    <ul>
                        <li>
                            Django, Postgresql, AWS, Heroku, Django REST framework, AngularJS, and many other web application development technology.</li>
                        <li>
                            Working as sole Full Stack Developer developing both front and back end of the web application.
                        </li>
                        <li>
                            Develop responsive front-end with AngularJS, Bootstrap, SASS, JavaScript, and other technology.
                        </li>
                        <li>
                            Develop Back-endAPIwith Django and DJango REST framework deployed with Postgresql DB and host on Heroku andAWS.
                        </li>
                    </ul>
                </div>

            </div>

            <br><br>

            <div class="portfolio_user_text_experience">
                <div class="portfolio_user_text_experience_title">
                    <p>FootBar <span>Feb 2015 - Jul 2015</span></p>
                    <hr>
                    <p>Full Stack Developer & Scrum Master</p>

                </div>

                <div class="portfolio_user_text_experience_content">
                    <p>
                        Web based start-up started with 4 student developers to connect European soccer club fans in the U.S with other fans of same team to gather and watch games while cheering for the same team and also give local sports bars business opportunity to host the match event.
                    </p>
                    <ul>
                        <li>
                            Django, AWS based project, worked as a Project Manager/Scrum Master on Mercurial repository.</li>
                        <li>
                            Develop back-end and front-end of account system with in the web application.
                        </li>
                        <li>
                            Develop the web application in Test Driven Development.
                        </li>
                        <li>
                            Manage the repository and team of 4 student programmers. 
                        </li>
                    </ul>
                </div>

            </div>

            <br><br><br><br><br><br><br><br>
        </div>
        
    </div>
    
</div>
