<div class="footerspace">
</div>


<footer>
    <div class="footer-basic-centered">

			<p class="footer-company-motto">Gundam Database</p>

			<p class="footer-links">
				<a href="/">Home</a>
				·
				<a href="/about#about">About</a>
				·
				<a href="/about#faq">FAQ</a>
				·
				<a href="/about#terms">Terms</a>
				·
				<a href="/about#contact">Contact</a>
				·
				<a href="/developer">Developer</a>
			</p>

			<p class="footer-company-name">GundamDatabase &copy; 2017</p>
	</div>
</footer>
