<div class='container'>

    <br>
    <div class="Forum_breadcrumb">
        <p><span class="glyphicon glyphicon-home"></span> <a href="/home">Home </a>
         > <a href="/forum">Forum</a>
         > <a href="/forum/{{subCategory.slug}}"> {{subCategory.category}}</a>
         <p>

    </div>


    <a href="/forum/new/thread/?category={{subCategory.category}}"><button ng-hide="subCategory.category == 'Announcement'" type="button" class="btn btn-warning" style="float:right;">
        <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Create
    </button></a>
    <br>
    <div class="clear"></div>

    <div class="forum_sub_page">

        <div class="forum_sub_page_category">
            <h3>{{subCategory.category}}</h3>

        </div>

        <div class="forum_sub_page_list" ng-repeat="item in subListCategory.results">

            <div class="forum_sub_page_list_item row">
                <div class="forum_sub_page_list_item_topic col-xs-12 col-sm-8">

                    <a href='/profile/{{item.user_profile.username}}' ng-if="!item.user_profile.profile_image"><img src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg"></a>
                    <a href='/profile/{{item.user_profile.username}}' ng-if="item.user_profile.profile_image"><img src="{{item.user_profile.profile_image}}"></a>


                    <div class="forum_sub_page_list_item_topic_title">
                        <h4><a href='/forum/post/{{item.pk}}'>{{item.title}}</a></h4>
                        <p>By: <a href='/profile/{{item.user_profile.username}}'>{{item.user_profile.username}}</a> | date: {{item.date|timeago}}</p>
                        <p class="forum_sub_page_list_item_topic_title_hide">Likes: 10 | Replies: 10</p>
                    </div>

                </div>


                <div class="forum_sub_page_list_item_last col-xs-12 col-sm-4">

                    <div class="forum_sub_page_list_item_last_stats">
                        <p>Likes: {{item.like_count}} </p>
                        <br/>
                        <p>Replies: {{item.reply_count}}</p>
                    </div>



                    <img src="{{item.recent_reply.user_profile.profile_image}}" ng-if="item.recent_reply.user_profile.profile_image && item.recent_reply.user_profile.username">
                    <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg" ng-if="!item.recent_reply.user_profile.profile_image && item.recent_reply.user_profile.username">
                    <p ng-if="item.recent_reply.user_profile.username"><a href="/profile/{{item.recent_reply.user_profile.username}}">{{item.recent_reply.user_profile.username}}</a> &nbsp <br> {{item.recent_reply.date|timeago}} &nbsp </p>

                </div>

            </div>
        </div>
    </div>







    <nav aria-label="Page navigation">
      <ul class="pagination">

        <li ng-show="prev > 0">
          <a href="/forum/{{subCategory.slug}}/?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li ng-show="prev > 0">
          <a href="/forum/{{subCategory.slug}}/?page={{prev}}" aria-label="prev">
            <span aria-hidden="true">Prev</span>
          </a>
        </li>

        <li ng-repeat = 'item in listPagination' ng-class="{active: item.value == page }"><a href="/forum/{{subCategory.slug}}/?page={{item.value}}">{{item.value}}</a></li>


        <li ng-show="next <= totalPage">
          <a href="/forum/{{subCategory.slug}}/?page={{next}}" aria-label="Next">
            <span aria-hidden="true">Next</span>
          </a>
        </li>

        <li ng-show="next <= totalPage">
          <a href="/forum/{{subCategory.slug}}/?page={{totalPage}}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>




      </ul>
    </nav>




</div>