

<div class="container">


    <br>
    <div class="Forum_breadcrumb">
        <p><span class="glyphicon glyphicon-home"></span> <a href="/home">Home </a>
         > <a href="/forum">Forum</a>
         > <a href="/forum/{{detail.slug}}"> {{detail.sub_category}}</a>
         > <a href="/forum/post/{{detail.pk}}"> {{detail.title}}</a>
         <p>

    </div>



    <div class="Forum_post_title">
        <h3>{{detail.title}}</h3>
        <h5> by <a href="/profile/{{detail.user_profile.username}}">{{detail.user_profile.username}}</a> on {{detail.date| date}}<h5>

    </div>






     <div class="Forum_post">
		<div class="row">

			<div class="Forum_post_user col-md-2 col-sm-2 col-xs-12">
                <div class="Forum_post_user_image">
                    <a href="/profile/{{detail.user_profile.username}}"><img src="{{detail.user_profile.profile_image}}"></a>
                </div>
                <div class="Forum_post_user_info">
                    <h5><a href="/profile/{{detail.user_profile.username}}">{{detail.user_profile.username}}</a></h5>
                    <p>Member</p>

                </div>

			</div>

			<div class="Forum_post_content col-md-10 col-sm-10 col-xs-12" ng-bind-html="detail.post">
				{{detail.post}}
			</div>

		</div>
	</div>




    <br>
    <h3>Comments <small> total: {{reply.count}}</small></h3>
    <hr class="hr_forum_post" >

    <nav aria-label="Page navigation">
      <ul class="pagination">

        <li ng-show="prev > 0">
          <a href="/forum/post/{{detail.pk}}/?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li ng-show="prev > 0">
          <a href="/forum/post/{{detail.pk}}/?page={{prev}}" aria-label="prev">
            <span aria-hidden="true">Prev</span>
          </a>
        </li>

        <li ng-repeat = 'item in listPagination' ng-class="{active: item.value == page }"><a href="/forum/post/{{detail.pk}}/?page={{item.value}}">{{item.value}}</a></li>


        <li ng-show="next <= totalPage">
          <a href="/forum/post/{{detail.pk}}/?page={{next}}" aria-label="Next">
            <span aria-hidden="true">Next</span>
          </a>
        </li>

        <li ng-show="next <= totalPage">
          <a href="/forum/post/{{detail.pk}}/?page={{totalPage}}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>




    <div class="Forum_post" ng-repeat="item in reply.results">
		<div class="row">

			<div class="Forum_post_user col-md-2 col-sm-2 col-xs-12"
                 ng-class="{Forum_not_same_user: item.user_profile.username != detail.user_profile.username}"
                 ng-class="{Forum_post_user: item.user_profile.username == detail.user_profile.username}"
                    >

                <div class="Forum_post_user_image">
                    <a href="/profile/{{item.user_profile.username}}"><img src="{{item.user_profile.profile_image}}"></a>
                </div>
                <div class="Forum_post_user_info">
                    <h5><a href="/profile/{{item.user_profile.username}}">{{item.user_profile.username}}</a></h5>
                    <p>Member</p>

                </div>

			</div>

			<div class="Forum_post_content col-md-10 col-sm-10 col-xs-12" ng-bind-html="item.comment">
				{{item.comment}}
			</div>

		</div>
        <br>
        <hr/>
	</div>




    <nav aria-label="Page navigation">
      <ul class="pagination">

        <li ng-show="prev > 0">
          <a href="/forum/post/{{detail.pk}}/?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li ng-show="prev > 0">
          <a href="/forum/post/{{detail.pk}}/?page={{prev}}" aria-label="prev">
            <span aria-hidden="true">Prev</span>
          </a>
        </li>

        <li ng-repeat = 'item in listPagination' ng-class="{active: item.value == page }"><a href="/forum/post/{{detail.pk}}/?page={{item.value}}">{{item.value}}</a></li>


        <li ng-show="next <= totalPage">
          <a href="/forum/post/{{detail.pk}}/?page={{next}}" aria-label="Next">
            <span aria-hidden="true">Next</span>
          </a>
        </li>

        <li ng-show="next <= totalPage">
          <a href="/forum/post/{{detail.pk}}/?page={{totalPage}}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>




    <h3>Reply</h3>



    <!--{{new_commentError}}-->
    <div class="alert alert-danger" role="alert" ng-show="new_commentError.text">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{new_commentError.text}}
    </div>

    <form ng-submit="postComments(new_comment)">


        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel">



        </textarea>
        <br>

        <input type="submit" value="Post" class="btn btn-default" ng-disabled="post_disable">


    </form>

    <br>



</div>