

<div class='container'>

    <h2 class="page_name">Forum</h2>

    <h4 class="page_name">Recent Post</h4>
    <div class="forum_recent">
        <div class="row">

            <div class="forum_recent_post col-xs-12 col-sm-6 col-md-3" ng-repeat="recent in ForumList.recent">
                <div class="forum_recent_post_item" id="forum_recent_{{$index}}">
                    <a href="/forum/post/{{recent.pk}}">
                        <h4>{{recent.title}}</h4>
                        <h6>by: {{recent.user}} | {{recent.date|timeago}}</h6>
                        <p><br/></p>
                        <h5><span class="glyphicon glyphicon-comment"></span> <span class="forum_recent_post_item_comment">comments: {{recent.reply_count}}</span></h5>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <br/>
    <h4 class="page_name">Category</h4>

    <div ng-repeat="post in ForumList.main">

        <div class="forum_main_category">
            <h3>{{post.category}}</h3>
        </div>

        <div ng-repeat="item in post.sub_category_list">
            <div class="forum_sub_category">

            <div class="forum_sub_category_item" >
                <div class="row">

                    <div class="forum_sub_category_item_value col-xs-12 col-sm-8">
                        <div class=forum_sub_category_item_value_img>
                            <img src="http://images2.wikia.nocookie.net/__cb20060116222218/gundam/images/9/9f/Sign_orb.jpg">
                        </div>
                        <div class='forum_sub_category_item_value_text'>
                            <h4><a href="/forum/{{item.slug}}">{{item.category}}</a> </h4>
                            <h6>Discussions: {{item.post_count}} | Replies: {{item.reply_count}}</h6>
                        </div>
                    </div>

                    <div class="forum_sub_category_item_last_post col-xs-12 col-sm-4">
                        <div class="forum_sub_category_item_last_post_img" ng-if="item.first_post.image">
                        <a href="#"><img src="{{item.first_post.image}}"></a>

                            <h6><a href="#">{{item.first_post.title}}</a> <br> By: <a href="#">{{item.first_post.username}}</a> <br>{{item.first_post.date|timeago}}</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        </div>

        <br/>
    </div>



</div>