
<div class="container">

<h3>New Forum Thread</h3>

<br>

<form ng-submit="newForumPost(new_post)">

    <label>Topic</label>
    <div class="form-group" ng-class="{'has-error': new_post_errors.category }">
        <select class="form-control" ng-model="new_post.category">
            <optgroup ng-repeat="main in ForumList" label="{{main.category}}" >
                <option ng-repeat="sub in main.sub_category_list" ng-hide="sub.category == 'Announcement'" ng-selected="post_category == sub.category"  value="{{sub.category}}">{{sub.category}}</option>
            </optgroup>
        </select>

        <label class="control-label"  ng-if='new_post_errors.category'>
            <span>{{ new_post_errors.category }}<br/></span>
        </label>
    </div>
    <br>


    <label>Title</label>

    <div class="form-group" ng-class="{'has-error': new_post_errors.title }">
        <input type="text" ng-model="new_post.title" class="form-control" placeholder="Title">

        <label class="control-label"  ng-if='new_post_errors.title'>
            <span>{{ new_post_errors.title }}<br/></span>
        </label>


    </div>
    <br>



    <label>Content</label>

     <div class="alert alert-danger" role="alert" ng-show="new_post_errors.post">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{new_post_errors.post}}
    </div>

    <textarea ng-model="new_post.post" ui-tinymce="tinymceOptions">

    </textarea>
    <br>


    <input type="submit" value="Post" class="btn btn-default">




</form>

    <br>
</div>