<div class="container">

    <br>
    <div class="gundam_sub_view">
        <div class="gundam_sub_view_img">
            <div class="gundam_sub_view_img_box">
                <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/detail" ng-if="gunpla.image_thumb"><img src="{{gunpla.image_thumb}}"></a>
                <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/detail" ng-if="!gunpla.image_thumb"><img src="{{gunpla.image}}"></a>
            </div>
        </div>
        <div class="gundam_sub_view_text">
            <h4>{{gunpla.name}}</h4>
            <p>{{gunpla.graded.short}}: #{{gunpla.number}} <br> released: {{gunpla.date| date:'MMM, yyyy'}} <br> price: {{gunpla.price}}yen</p>



        </div>
        <div class="clear"></div>
    </div>

    <h3>Blog Post <small>{{blog_post.length}}</small></h3>
    <div class="user_profile_blog_square">

        <div class="blog_square" dir-paginate="blog in blog_post |itemsPerPage: perPage" current-page="currentPage">

            <div ng-if="blog.type != 2" class="blog_square_inner">

                <div class="blog_square_user">
                    <div class="blog_square_user_img">
                        <img  ng-if="!user.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                        <img  ng-if="user.profile_image" src="{{blog.account.profile_image}}">
                    </div>
                    <div class="blog_square_user_username">
                        <a href="/blog/post/{{blog.pk}}"><p>{{blog.account.username}}</p></a>
                    </div>
                </div>

                <div ng-if="blog.type == 1" class="blog_square_content">
                    <h4><a href="/blog/post/{{blog.pk}}">{{blog.title}}</a></h4>
                    <hr>
                    <p ng-if="!blog.thumbnail && blog.text_plain"><a href="/blog/post/{{blog.pk}}">{{blog.text_plain}} </a></p>

                    <a ng-if="blog.thumbnail" href="/blog/post/{{blog.pk}}"> <div class="blog_square_content_img" style="background-image: url({{blog.thumbnail}});"></div></a>

                    <a ng-if="!blog.thumbnail && !blog.text_plain" href="/blog/post/{{blog.pk}}"> <div class="blog_square_content_img" style="background-image: url(https://s3.amazonaws.com/gundam-db-public/etc-image/no_image.png);"></div></a>

                </div>

                <div ng-if="blog.type == 3" class="blog_square_content">
                    <h4><a href="/blog/post/{{blog.pk}}">{{blog.title}}</a></h4>
                    <hr>

                    <div class="blog_square_content_video" ng-bind-html="blog.video">
                        {{blog.video}}
                    </div>
                </div>


                <div class="blog_square_info">
                    <p> {{blog.date|timeago}}</p>
                </div>

            </div>


            <div ng-if="blog.type == 2" class="blog_square_image_inner">
                <a href="/blog/post/{{blog.pk}}">
                    <div class="gi_list_item_box" style="background-image: url({{blog.thumbnail}});">

                        <div class="gi_list_item_box_text">
                            <div class="gi_list_item_box_text_title">
                                <p>{{blog.title}}<p>
                            </div>
                            <div class="gi_list_item_box_text_user">
                                <p>by: {{blog.account.username}}
                                    <span>{{blog.date|timeago}}</span><p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="clear"></div>

    </div>









    <dir-pagination-controls></dir-pagination-controls>
    <br><br>
</div>