<div class="container">

    <br>
    <div class="gundam_sub_view">
        <div class="gundam_sub_view_img">
            <div class="gundam_sub_view_img_box">
                <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/detail" ng-if="gunpla.image_thumb"><img src="{{gunpla.image_thumb}}"></a>
                <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/detail" ng-if="!gunpla.image_thumb"><img src="{{gunpla.image}}"></a>
            </div>
        </div>
        <div class="gundam_sub_view_text">
            <h4>{{gunpla.name}}</h4>
            <p>{{gunpla.graded.short}}: #{{gunpla.number}} <br> released: {{gunpla.date| date:'MMM, yyyy'}} <br> price: {{gunpla.price}}yen</p>



        </div>
        <div class="clear"></div>
    </div>

    <br>

    <h3>Images <small>{{image.length}}</small></h3>

     <div class="gunpla_image_list">

        <div class="gunpla_image_list_item" dir-paginate="item in image |itemsPerPage: perPage" current-page="currentPage">
            <a href="/blog/post/{{item.pk}}">
                <div class="gi_list_item_box" style="background-image: url({{item.thumbnail}});">

                    <div class="gi_list_item_box_text">
                        <div class="gi_list_item_box_text_title">
                            <p>{{item.title}}<p>
                        </div>
                        <div class="gi_list_item_box_text_user">
                            <p>by: {{item.account.username}}
                                <span>{{item.date|timeago}}</span><p>
                        </div>
                    </div>
                </div>
            </a>

        </div>




        <div class="clear"></div>
     </div>


    <dir-pagination-controls></dir-pagination-controls>
    <br><br>
</div>