<div class="container">
    <h1 id="main_name">{{gunpla.name}}</h1>


            <div class="detail_box">
    <div class="row">

        <div class="col-xs-12 col-sm-5">
            <div class="pre_img_sel">
                <div class="pre_box" id = 'one_img' value ='0'>
                    <div class="pre_box_img" ng-click="main_image_change(gunpla.image)" ng-mouseover="main_image_change(gunpla.image)">
                        <img src="{{gunpla.image}}" value ='0'>
                    </div>
                </div>

                <div class="pre_box" id = 'img_1' value ='1' ng-if="gunpla.box_image">
                    <div class="pre_box_img" ng-click="main_image_change(gunpla.box_image)"  ng-mouseover="main_image_change(gunpla.box_image)">
                        <img src="{{gunpla.box_image}}" value ='1'>
                    </div>
                </div>


                <div class="pre_box" id = 'img_2' value ='2' ng-if="image_one">
                    <div class="pre_box_img" ng-click="main_image_change(image_one.image)" ng-mouseover="main_image_change(image_one.image)">
                        <img src="{{image_one.image}}" value ='2'>
                    </div>
                </div>
                <div class="pre_box" id = 'img_3' value ='3' ng-if="image_two">
                    <div class="pre_box_img" ng-click="main_image_change(image_two.image)" ng-mouseover="main_image_change(image_two.image)">
                        <img src="{{image_two.image}}" value ='3'>
                    </div>
                </div>


            </div>


            <div class="pre_img_show">
                <div class="pre_img_box">
                    <img src="{{main_image}}" value ='0'>
                </div>


            </div>

        </div>

        <div class="col-xs-12 col-sm-7 bb">
            <div class="pre_info">

            <h3>{{gunpla.name}}</h3>

            <h5><b>Grade: </b>{{gunpla.graded.grades}}</h5>
            <h5><b>Number: </b>{{gunpla.number}}</h5>
            <h5><b>Realase:  </b> {{gunpla.date | date:'MMMM'}} of {{gunpla.date | date:'yyyy'}}</h5>
            <h5><b>Price: </b> {{gunpla.price}} yen</h5>
            <h5><b>Series: </b> {{gunpla.gundams.serie.title}}</h5>
            <h5><b>Universe: </b> {{gunpla.gundams.universes}}</h5>
            <div id="msgid">
</div>
            </div>
        </div>
    </div>
    </div>

    <div class="detail_box_3">
        <div  class="section_title">
            <h3>User Ratings</h3>

            <div class="add_button">
                <br/>
                <a class="btn icon-btn btn-success" href="/{{gunpla.graded.short}}/{{gunpla.number}}/review/create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add/Edit Review</a>
            </div>
        </div>
        <br/>

        <div class="gunpla_rating row">
            <div class="gunpla_rating_overall">
                <div class="gunpla_rating_overall_box" ng-class="{'grbc_green': gunpla.overall >= 7, 'grbc_yellow': gunpla.overall >=5 && gunpla.overall < 7, 'grbc_red': gunpla.overall < 5 && gunpla.overall >= 1, 'grbc_gray': gunpla.overall == 0 || !gunpla.overall}">
                    <p ng-if="gunpla.overall == 10">10</p>
                    <p ng-if=" 10 > gunpla.overall >=1">{{gunpla.overall |number: 1}}</p>
                    <p ng-if="gunpla.overall <1">N/A</p>
                </div>
                <p class="pull-right">/10 Avg Overall</p>

            </div>

            <div class="gunpla_rating_bar">
                <p>Design/Proportions<span class="pull-right">{{gunpla.design| number:0}}</span></p>
                <div class="progress progress-danger active">
                    <div class="progress-bar" style="width: {{gunpla.design| number:0}}0%;"></div>
                </div>

                <p>Articulation<span class="pull-right">{{gunpla.articulation| number:0}}</span></p>
                <div class="progress progress-danger active">
                    <div class="progress-bar" style="width: {{gunpla.articulation| number:0}}0%;"></div>
                </div>

                <p>Build Quality<span class="pull-right">{{gunpla.quality| number:0}}</span></p>
                <div class="progress progress-danger active">
                    <div class="progress-bar" style="width: {{gunpla.quality| number:0}}0%;"></div>
                </div>

                <p>Accessories<span class="pull-right">{{gunpla.accessories| number:0}}</span></p>
                <div class="progress progress-danger active">
                    <div class="progress-bar" style="width: {{gunpla.accessories| number:0}}0%;"></div>
                </div>

                <p>Features<span class="pull-right">{{gunpla.feature| number:0}}</span></p>
                <div class="progress progress-danger active">
                    <div class="progress-bar" style="width: {{gunpla.feature| number:0}}0%;"></div>
                </div>

            </div>
            <div class="clear"></div>

            <div class="gunpla_rating_build">
                <h5>Build Status</h5>
                <div class="gunpla_rating_build_option">
                    <div style="background-color: #00BCD4;"></div><p>Built: {{gunpla.built}}</p>
                </div>

                <div class="gunpla_rating_build_option">
                    <div style="background-color: #2196F3;"></div><p>Custom: {{gunpla.custom}}</p>
                </div>

                <div class="gunpla_rating_build_option">
                    <div style="background-color: #8BC34A;"></div><p>Building: {{gunpla.building}}</p>
                </div>

                <div class="gunpla_rating_build_option">
                    <div style="background-color: #FF9800;"></div><p>Bought: {{gunpla.purchased}}</p>
                </div>

                <div class="gunpla_rating_build_option">
                    <div style="background-color: #FFEB3B;"></div><p>Wishlist: {{gunpla.wishlist}}</p>
                </div>

                <div class="gunpla_rating_build_option">
                    <div style="background-color: #F44336;"></div><p>Skip: {{gunpla.skip}}</p>
                </div>

            </div>


        </div>

    </div>





     <div class="detail_box">
          <div  class="section_title">
            <h3>User Images</h3>

            <div class="add_button">
                <br/>
                <a class="btn icon-btn btn-success" href="/blog/create/photo?grade={{gunpla.graded.short}}&number={{gunpla.number}}"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Upload Image</a>
            </div>
        </div>
        <br>


        <div class="gunpla_detail_image">

        <div class="gunpla_detail_image_single" ng-repeat="img in gunpla.blog_images">
            <div class="gunpla_detail_image_single_inner">
                <a href="/blog/post/{{img.pk}}"><img src="{{img.thumbnail}}"></a>
            </div>
        </div>


        <div ng-show="gunpla.blog_images.length < 6" class="gunpla_detail_image_single">
            <div class="gunpla_detail_image_single_inner">
                <a href=""><img src="https://s3.amazonaws.com/gundam-db-public/etc-image/upload_image.png"></a>
            </div>
        </div>


        </div>

        <div class="clear"></div>
         <div  class="section_button">
            <a class="btn btn-lg btn-block" href="/{{gunpla.graded.short}}/{{gunpla.number}}/image" role="button">More Images</a>
        </div>

    </div>



    <div class="detail_box">
        <div  class="section_title">
            <h3>User Reviews</h3>

            <div class="add_button">
                <br/>
                <a class="btn icon-btn btn-success" href="/{{gunpla.graded.short}}/{{gunpla.number}}/review/create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add/Edit Review</a>
            </div>
        </div>
        <br>


        <div class="row gunpla_review">


            <div class="gunpla_review" ng-repeat="item in gunpla.reviews">

                <div class="gunpla_review_box col-sm-6 col-xs-12">
                    <div class="gunpla_review_box_2">
                        <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/reviews/{{item.user_profile.username}}">
                            <img src="{{item.user_profile.profile_image}}" ng-if="item.user_profile.profile_image">
                            <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg" ng-if="!item.user_profile.profile_image">
                            <div class="gunpla_review_box_user"
                                <h5>{{item.user_profile.username}} <span class="pull-right">Overall: {{item.overall}}</span></h5>
                            </div>

                            <div class="gunpla_review_box_review">
                                <p>{{item.user_review}}</p>
                            </div>


                            <a class="gunpla_review_box_link" href="/{{gunpla.graded.short}}/{{gunpla.number}}/reviews/{{item.user_profile.username}}">read full review</a>
                            <div class="clear"></div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="clear"></div>


        <div class="gunpla_detail_empty_box" ng-if="gunpla.reviews.length == 0">
            <a href="/{{gunpla.graded.short}}/{{gunpla.number}}/review/create"> <p>Be the first to Review {{gunpla.name}}</p> </a>
        </div>

        <div  class="section_button">
            <a class="btn btn-lg btn-block" href="/{{gunpla.graded.short}}/{{gunpla.number}}/reviews" role="button">More Reviews</a>
        </div>


    </div>


    <div class="detail_box">
        <div  class="section_title">
            <h3>Video Posts</h3>

            <div class="add_button">
                <br/>
                <a class="btn icon-btn btn-success" href="/blog/create\video?grade={{gunpla.graded.short}}&number={{gunpla.number}}"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add Video</a>
            </div>
        </div>
        <br>

        <div>


        </div>
        <div class="gunpla_detail_video">

            <div class="gunpla_detail_video_box" ng-repeat="item in gunpla.blog_videos">
                <a href="/blog/post/{{item.pk}}">
                    <div class="gunpla_detail_video_inner" ng-bind-html="item.video">
                        {{item.video}}
                    </div>
                </a>

                <a href="/blog/post/{{item.pk}}">
                    <div class="gunpla_detail_video_text">
                            <p>{{item.title}}</p>
                    </div>
                </a>

            </div>

            <div class="clear"></div>
        </div>

        <div class="gunpla_detail_empty_box" ng-if="gunpla.blog_videos.length == 0">
            <a href="/blog/create\video?grade={{gunpla.graded.short}}&number={{gunpla.number}}"> <p>Post video about {{gunpla.name}}</p> </a>
        </div>


    </div>



    <div class="gunpla_detail_all_blog_list">
        <div  class="section_title">
            <h3>Blog Posts</h3>

            <div class="add_button">
                <br/>
                <a class="btn icon-btn btn-success" href="/blog/create\text?grade={{gunpla.graded.short}}&number={{gunpla.number}}"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add Blog Post</a>
            </div>
        </div>
        <br>

        <div class="gunpla_detail_blog_list">
            <div class="blog_square" ng-repeat="blog in user.user_blog_post|limitTo:12">

            <div ng-if="blog.type != 2" class="blog_square_inner">

                <div class="blog_square_user">
                    <div class="blog_square_user_img">
                        <img  ng-if="!user.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                        <img  ng-if="user.profile_image" src="{{user.profile_image}}">
                    </div>
                    <div class="blog_square_user_username">
                        <a href="/blog/post/{{blog.pk}}"><p>{{user.username}}</p></a>
                    </div>
                </div>

                <div ng-if="blog.type == 1" class="blog_square_content">
                    <h4><a href="/blog/post/{{blog.pk}}">{{blog.title}}</a></h4>
                    <hr>
                    <p ng-if="!blog.thumbnail && blog.text_plain"><a href="/blog/post/{{blog.pk}}">{{blog.text_plain}} </a></p>

                    <a ng-if="blog.thumbnail" href="/blog/post/{{blog.pk}}"> <div class="blog_square_content_img" style="background-image: url({{blog.thumbnail}});"></div></a>

                    <a ng-if="!blog.thumbnail && !blog.text_plain" href="/blog/post/{{blog.pk}}"> <div class="blog_square_content_img" style="background-image: url(https://s3.amazonaws.com/gundam-db-public/etc-image/no_image.png);"></div></a>

                </div>

                <div ng-if="blog.type == 3" class="blog_square_content">
                    <h4><a href="/blog/post/{{blog.pk}}">{{blog.title}}</a></h4>
                    <hr>

                    <div class="blog_square_content_video" ng-bind-html="blog.video">
                        {{blog.video}}
                    </div>
                </div>


                <div class="blog_square_info">
                    <p> {{blog.date|timeago}}</p>
                </div>

            </div>


            <div ng-if="blog.type == 2" class="blog_square_image_inner">
                <a href="/blog/post/{{blog.pk}}">
                    <div class="gi_list_item_box" style="background-image: url({{blog.thumbnail}});">

                        <div class="gi_list_item_box_text">
                            <div class="gi_list_item_box_text_title">
                                <p>{{blog.title}}<p>
                            </div>
                            <div class="gi_list_item_box_text_user">
                                <p>by: {{user.username}}
                                    <span>{{blog.date|timeago}}</span><p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="clear"></div>

    </div>



        </div>

         <div class="gunpla_blog_list">

            <div class="gunpla_blog_list_thumbnail" ng-repeat="blog in gunpla.blog_posts">
                <a href="/blog/post/{{blog.pk}}">
                    <div class="gunpla_blog_list_thumbnail_image">
                        <img ng-if="blog.thumbnail" src="{{blog.thumbnail}}">
                        <img ng-if="!blog.thumbnail" src="https://s3.amazonaws.com/gundam-db-public/etc-image/no_image.png">
                    </div>

                    <div class="gunpla_blog_list_thumbnail_text">
                        <p class="gunpla_blog_list_thumbnail_user">
                            by:{{blog.account.username}}
                        </p>

                        <p class="gunpla_blog_lost_thumbnail_title">
                            {{blog.title}}
                        </p>

                    </div>
                </a>

            </div>

            <div class="clear"></div>
        </div>

        <div class="gunpla_detail_empty_box" ng-if="gunpla.blog_posts.length == 0">
            <a href=""> <p>Blog about {{gunpla.name}}</p> </a>
        </div>

        <div  class="section_button">
            <a class="btn btn-lg btn-block" href="/{{gunpla.graded.short}}/{{gunpla.number}}/blog" role="button">More Blog Posts</a>
        </div>


    </div>


</div>



<br><br>