
<div class="container">

    <h2>{{gunpla[0].graded.grades}}</h2>

     <div class="list_filter">
        <div class="list_filter_page">
        <label> Showing {{currentPage}}-{{lastPage}} of {{gunpla.length}} kits</label>
        <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{itemsShown}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="changePageNumber(36)">36</a></li>
                <li><a ng-click="changePageNumber(60)">60</a></li>
                <li><a ng-click="changePageNumber(90)">96</a></li>

              </ul>
        </div>

        </div>
        <div class="list_filter_order">
            <label>sort by:</label>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{currentOrder}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="changeOrderItems('-number', 'Newest')">Newest</a></li>
                <li><a ng-click="changeOrderItems('number', 'Oldest')">Oldest</a></li>
                <li><a ng-click="changeOrderItems('-overall', 'Rating')">Rating</a></li>
                <li><a ng-click="changeOrderItems('-built', 'Build')">Build</a></li>
              </ul>
            </div>


        <a href="?page=#&layout=grid">
            <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button></a>
        <a href="?page=#&layout=list">
            <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button></a>

        </div>
        <div class="clear"></div>

    </div>



<br/>

        <div class="list_show" >
            <div class="list_show_item" dir-paginate='gundam in gunpla |orderBy: orderItems |itemsPerPage: perPage' current-page="currentPage">
                <div class="list_show_item_content">
                    <div class="list_show_item_content_img">
                        <a href="/{{gundam.graded.short}}/{{gundam.number}}/detail"><img src="{{gundam.image}}"></a>

                        <div class="list_show_item_info"> <p> <span><a href="/{{gundam.graded.short}}/{{gundam.number}}/detail">{{gundam.name}}</a> </span></p> </div>
                    </div>
                </div>
            </div>
        <div class="clear"></div>
    </div>

    <dir-pagination-controls></dir-pagination-controls>

    <p>{{ pagination.last }}</p>

</div>