<div class="container">

    <br/>
    <div class="home_tri">
        <div class="home_tri_absolute">

            <a href="/{{data.tri[0].graded.short}}/{{data.tri[0].number}}/detail">
                <div class="home_tri_1">
                    <div class="home_tri_1_absolute">

                        <div class="home_tri_main_text">
                             <p>{{data.tri[0].name}} <br/> <span>{{data.tri[0].gundams.serie.title}} </span></p>

                        </div>

                        <div class="home_tri_main_img">
                            <img src="{{data.tri[0].image}}">
                         </div>
                    </div>
                </div>
            </a>

            <a href="/{{data.tri[1].graded.short}}/{{data.tri[1].number}}/detail">
                <div class="home_tri_2">
                    <div class="home_tri_1_absolute">
                        <div class="home_tri_2_main_text">
                            <p>{{data.tri[1].name}} <br/> <span>{{data.tri[1].gundams.serie.title}}</span></p>
                         </div>

                        <div class="home_tri_main_img">
                            <img src="{{data.tri[1].image}}">
                        </div>
                    </div>
                </div>
            </a>

            <a href="/{{data.tri[2].graded.short}}/{{data.tri[2].number}}/detail">
                <div class="home_tri_2">
                    <div class="home_tri_1_absolute">
                        <div class="home_tri_2_main_text">
                            <p>{{data.tri[2].name}} <br/> <span>{{data.tri[2].gundams.serie.title}}</span></p>

                        </div>

                        <div class="home_tri_main_img">
                            <img src="{{data.tri[2].image}}">
                        </div>
                    </div>
                </div>
            </a>


        </div>
    </div>


    <br/>
   <h3>Grades</h3>
    <div class="home_grade_main">

      <div class="home_grade_item">
        <a href="/pg/list">
          <div class="home_grade_img_outer">
            <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/home/pg.jpg">
          </div>
          <div class="home_grade_text">
            <p>Perfect Grade</p>
          </div>
        </a>
      </div>

      <div class="home_grade_item">
        <a href="/mg/list">
          <div class="home_grade_img_outer">
            <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/home/mg.jpg">
          </div>
          <div class="home_grade_text">
            <p>Master Grade</p>
          </div>
      </a>
      </div>

      <div class="home_grade_item">
        <a href="/rg/list">
          <div class="home_grade_img_outer">
            <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/home/rg.jpg">
          </div>
          <div class="home_grade_text">
            <p>Real Grade</p>
          </div>
        </a>
      </div>

      <div class="home_grade_item">
        <a href="/hg">
          <div class="home_grade_img_outer">
            <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/home/hg.jpg">
          </div>
          <div class="home_grade_text">
            <p>High Grade</p>
          </div>
        </a>
      </div>

      <div class="home_grade_item">
        <a href="/re/list">
          <div class="home_grade_img_outer">
            <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/home/re.jpg">
          </div>
          <div class="home_grade_text">
            <p>RE 1/100</p>
          </div>
        </a>
      </div>

      <div class="home_grade_item">
        <a href="/sd">
          <div class="home_grade_img_outer">
            <img src="https://s3.amazonaws.com/gundam-db-public/etc-image/home/sd.jpg">
          </div>
          <div class="home_grade_text">
            <p>Super Deformed</p>
          </div>
        </a>
      </div>



  </div>

<br>




    <h3>Popular Images</h3>

    <div class="home_image">
        <div class="home_img_all" data-ng-repeat="img in data.photo">
            <div class="home_img_sub">
                <a href="/blog/post/{{img.pk}}"><img src="{{img.thumbnail}}"></a>
            </div>
        </div>
    </div>


    <br>

</div>


<div class="home_poll">
    <div class="container">
        <h3>Announcements & News</h3>
        <div class="home_announcement">
            <ul>
                <li data-ng-repeat="item in data.announcement"><a href="/forum/post/{{item.pk}}">{{item.title}} - {{item.date|timeago}}</a></li>
            </ul>

        </div>

    </div>
    <br>

</div>

<div class="container">
    <br>
    <h3>New Kits</h3>

    <div class="home_new_kits">

        <div class="home_new_kit_outer" data-ng-repeat="kit in data.new_kit|limitTo:6">
          <div class="home_new_kit_abs">
            <div class="home_new_kit_img">
                <a href="/{{kit.graded.short}}/{{kit.number}}/detail"><img src="{{kit.image}}"></a>
                <div class="home_new_kit_text">
                  <p><a href="/">{{kit.graded.short}} {{kit.name}}</a></p>
                </div>

            </div>
          </div>
        </div>


      <div class="clear"></div>
    </div>

    <br/>
    <br/>
</div>

<div class="home_video">

  <div class="container">
    <h3>Videos</h3>

    <div class="home_video_box">

        <div class="home_video_box_player" data-ng-repeat="vid in data.blog_video">
            <a href="/blog/post/{{vid.pk}}">
                <div class="home_video_box_player_inner" ng-bind-html="vid.video">
                    {{vid.video}}

                </div>
                <div class="home_video_box_player_text">
                    <p>{{vid.title}}</p>
                </div>

            </a>

        </div>


  </div>
</div>


<div class="home_blog">
  <div class="container">
      <h3>Blog Post</h3>


      <div class="home_gunpla_blog_list">
          <div class="blog_square" ng-repeat="blog in data.new_blog|limitTo:12">

            <div ng-if="blog.type != 2" class="blog_square_inner">

                <div class="blog_square_user">
                    <div class="blog_square_user_img">
                        <img  ng-if="!user.profile_image" src="https://s3.amazonaws.com/gundam-db-public/etc-image/profile_image.jpg">
                        <img  ng-if="user.profile_image" src="{{user.profile_image}}">
                    </div>
                    <div class="blog_square_user_username">
                        <a href="/blog/post/{{blog.pk}}"><p>{{blog.account.username}}</p></a>
                    </div>
                </div>

                <div ng-if="blog.type == 1" class="blog_square_content">
                    <h4><a href="/blog/post/{{blog.pk}}">{{blog.title}}</a></h4>
                    <hr>
                    <p ng-if="!blog.thumbnail && blog.text_plain"><a href="/blog/post/{{blog.pk}}">{{blog.text_plain}} </a></p>

                    <a ng-if="blog.thumbnail" href="/blog/post/{{blog.pk}}"> <div class="blog_square_content_img" style="background-image: url({{blog.thumbnail}});"></div></a>

                    <a ng-if="!blog.thumbnail && !blog.text_plain" href="/blog/post/{{blog.pk}}"> <div class="blog_square_content_img" style="background-image: url(https://s3.amazonaws.com/gundam-db-public/etc-image/no_image.png);"></div></a>

                </div>

                <div ng-if="blog.type == 3" class="blog_square_content">
                    <h4><a href="/blog/post/{{blog.pk}}">{{blog.title}}</a></h4>
                    <hr>

                    <div class="blog_square_content_video" ng-bind-html="blog.video">
                        {{blog.video}}
                    </div>
                </div>


                <div class="blog_square_info">
                    <p> {{blog.date|timeago}}</p>
                </div>

            </div>


            <div ng-if="blog.type == 2" class="blog_square_image_inner">
                <a href="/blog/post/{{blog.pk}}">
                    <div class="gi_list_item_box" style="background-image: url({{blog.thumbnail}});">

                        <div class="gi_list_item_box_text">
                            <div class="gi_list_item_box_text_title">
                                <p>{{blog.title}}<p>
                            </div>
                            <div class="gi_list_item_box_text_user">
                                <p>by: {{user.username}}
                                    <span>{{blog.date|timeago}}</span><p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="clear"></div>

        <br><br>

      </div>

      <!--
      <div class="gunpla_blog_list">

        <div class="gunpla_blog_list_thumbnail" ng-repeat="blog in data.new_blog.slice(0,12)">
            <a href="/blog/post/{{blog.pk}}">
                <div class="gunpla_blog_list_thumbnail_image">
                    <img ng-if="blog.thumbnail" src="{{blog.thumbnail}}">
                    <img ng-if="!blog.thumbnail" src="https://s3.amazonaws.com/gundam-db-public/etc-image/no_image.png">
                </div>

                <div class="gunpla_blog_list_thumbnail_text">
                    <p class="gunpla_blog_list_thumbnail_user">
                        by:{{blog.account.username}}
                    </p>
                    <p class="gunpla_blog_lost_thumbnail_title">
                        {{blog.title}}
                    </p>
                </div>
            </a>

            </div>

        <div class="clear"></div>
      </div>
    -->

  </div>
  <br/>
    <br><br><br><br>
</div>

