
<nav class="navbar navbar-trans " role="navigation">
<div class="container-fluid">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="/"><span class="gundam_logo">Gundam</span><span class="gundam_logo2">database</span></a>
    </div>
    <div class="navbar-collapse collapse " id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-left">

        <li><a href="/">Home</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Gundam </a>
          <ul class="dropdown-menu">
            <li><a href="/mg/list">MG</a></li>
            <li><a href="/hg">HG</a></li>
            <li><a href="/pg/list">PG</a></li>
            <li><a href="/rg/list">RG</a></li>
            <li><a href="/re/list">RE 1/100</a></li>
            <li><a href="/sd">SD</a></li>
          </ul>
        </li>

        <li><a href="/blog">Blog</a></li>
        <li><a href="/forum">Forum</a></li>

        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about#about">About</a></li>
            <li><a href="/about#faq">FAQ</a></li>
            <li><a href="/about#terms">Terms</a></li>
            <li><a href="/about#contact">Contact</a></li>

          </ul>
        </li>


      </ul>
      <ul class="nav navbar-nav navbar-right">        
       

        <li ng-if="userExist == true">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> 
            <span class="glyphicon glyphicon-user"></span>&nbsp; Hi {{username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><a href="/profile/{{username}}">Profile</a></li>
              <li><a href="/profile/user/edit">Edit Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
         <li ng-if="userExist == false">&nbsp;</li>



          <li ng-if="userExist == false">
              <a href="/login">Login</a>
          </li>
          <li ng-if="userExist == false">
              <a href="/register">Register</a>
          </li>

      </ul>
      
    </div>
  </div>
  </div>
</nav>


<div class="container">
<div class="sub_nav">

<div class="sub_nav_box">
	<a href="/mg/list"> MG</a>
	<a href="/pg/list"> PG</a>
	<a href="/hg"> HG</a>
	<a href="/rg/list"> RG</a>
	<a href="/re/list"> RE 1/100</a>
	<a href="/sd"> SD</a>
	<a href="/ng"> Other</a>
</div>

</div>
</div>

