    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active" ><a href="/forum/realgrade/?page=1">1</a></li>
        <li><a href="/forum/realgrade/?page=2">2</a></li>
        <li><a href="/forum/realgrade/">3</a></li>
        <li><a href="/forum/realgrade/">4</a></li>
        <li><a href="/forum/realgrade/">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    {{currentPage}}
    <p>{{totalPage}}</p>