<p>detail</p>
{{detail}}

<form ng-submit="new_answer()">
    <textarea ng-model="answer_text" class="form-control" placeholder="Leave your answer"></textarea>
    <input type="submit" value="Answer" class="btn btn-default">


</form>