<p>test question</p>

{{list}}

<form ng-submit="new_question()">
    <textarea ng-model="question_text" class="form-control" placeholder="Ask a Question"></textarea>
    <input type="submit" value="Ask" class="btn btn-default">
</form>