html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

html, body { overflow-x: hidden; }

.page_name{
  color: #666666;
}

.container{
  padding-left: 5px;
  padding-right: 5px;
  color: #545454;
    
}

.page{

}
#main{
  min-height: 600px;
}



#main_name{
  color: #7e7e7e;
  padding-left: 5px;

}










.forum_sub_page_category {
  background-color: #1b85b8;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: auto; }
  .forum_sub_page_category h3 {
    color: white;
    margin: 10px 10px 10px 10px;
    float: left; }
  .forum_sub_page_category .forum_sub_page_category_dropdown {
    float: right;
    margin: 10px 10px 10px 10px; }

.forum_sub_page_list {
  border: 1px solid #e0e0e0;
  margin: 5px 0px 5px 0px;
  border-radius: 5px; }
  .forum_sub_page_list .forum_sub_page_list_item {
    margin: 10px 10px 10px 10px; }
    .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_topic {
      padding: 0px 0px 0px 0px;
      overflow: auto; }
      .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_topic img {
        height: 50px;
        width: 50px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        float: left; }
      .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_topic .forum_sub_page_list_item_topic_title {
        width: auto;
        padding-left: 55px; }
        .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_topic .forum_sub_page_list_item_topic_title h4 {
          margin: 0px 0px 0px 0px;
          word-wrap: break-word; }
        .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_topic .forum_sub_page_list_item_topic_title p {
          margin-bottom: 0px; }
    .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_last {
      border-left: 1px solid #e0e0e0;
      padding: 0px 0px 0px 5px;
      overflow: auto; }
      .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_last p {
        float: right; }
      .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_last img {
        height: 40px;
        width: 40px;
        float: right; }
      .forum_sub_page_list .forum_sub_page_list_item .forum_sub_page_list_item_last .forum_sub_page_list_item_last_stats {
        float: left; }

@media (max-width: 767px) {
  .forum_sub_page_list_item_last {
    display: none; } }
@media (min-width: 768px) {
  .forum_sub_page_list_item_topic_title_hide {
    display: none; } }






/* forum home-----------------------------------------------------------------------*/
.forum_main_category {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #1b85b8; }
  .forum_main_category h3 {
    color: white;
    margin: 10px 10px 10px 10px; }

.forum_sub_category {
  border: 1px solid #e0e0e0;
  margin: 5px 0px 5px 0px;
  border-radius: 5px; }

.forum_sub_category_item {
  margin: 10px 10px 10px 10px; }
  .forum_sub_category_item .forum_sub_category_item_value .forum_sub_category_item_value_img {
    float: left; }
    .forum_sub_category_item .forum_sub_category_item_value .forum_sub_category_item_value_img img {
      width: 60px;
      height: 60px;
      border: 1px solid #e0e0e0; }
  .forum_sub_category_item .forum_sub_category_item_value .forum_sub_category_item_value_text {
    float: left;
    padding-left: 5px; }
  .forum_sub_category_item .forum_sub_category_item_last_post {
    padding: 10px 0px 0px 20px; }
    .forum_sub_category_item .forum_sub_category_item_last_post .forum_sub_category_item_last_post_img {
      overflow: auto; }
      .forum_sub_category_item .forum_sub_category_item_last_post .forum_sub_category_item_last_post_img img {
        border-radius: 5px;
        width: 40px;
        height: 40px;
        border: 1px solid #e0e0e0;
        float: left;
        max-width: 20%; }
      .forum_sub_category_item .forum_sub_category_item_last_post .forum_sub_category_item_last_post_img h6 {
        margin: 0px 0px 0px 0px;
        padding-left: 5px;
        width: auto;
        min-width: 100px;
        width: 75%;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }





/* nav bar-----------------------------------------------------------------------*/
.navbar-trans {
  background-color: #3A5FCD;
  color: white; }
  .navbar-trans li:active {
    background-color: #3333FF !important; }
  .navbar-trans li a {
    background-color: #3A5FCD; }
    .navbar-trans li a:hover, .navbar-trans li a:focus {
      background-color: #3333FF !important; }
  .navbar-trans a, .navbar-trans .dropdown-menu a {
    color: #fefefe; }
  .navbar-trans ul.dropdown-menu {
    background-color: #3a5fcd; }
    .navbar-trans ul.dropdown-menu li a:hover {
      background: #3333ff;
      color: #fff; }

.gundam_logo {
  font-family: Audiowide;
  font-weight: bolder; }

.gundam_logo2 {
  font-family: Montserrat;
  font-weight: lighter; }

.navbar-trans .navbar-nav > li > a {
  background-color: #3A5FCD; }

.icon-bar {
  background-color: #fff; }


/*footer------------------------------------------------------------------------------*/
.footerspace {
  min-height: 210px;
  width: 100%; }

.footer-basic-centered {
  height: 210px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px; }
  .footer-basic-centered .footer-company-motto {
    color: #8d9093;
    font-size: 24px;
    margin: 0; }
  .footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0; }
  .footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0; }
    .footer-basic-centered .footer-links a {
      display: inline-block;
      text-decoration: none;
      color: inherit; }

.footer {
  position: absolute;
  overflow: hidden; }

@media (max-width: 768px) {
  .footer-basic-centered {
    height: 210px;
    padding: 35px;
    width: 100%; }
    .footer-basic-centered .footer-company-motto {
      font-size: 18px; }
    .footer-basic-centered .footer-company-name {
      font-size: 12px; }
    .footer-basic-centered .footer-links {
      font-size: 14px;
      padding: 25px 0 20px; }
      .footer-basic-centered .footer-links a {
        line-height: 1.8; } }




/*sub nav----------------------------------- */
.sub_nav_box {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 3px;
  width: 100%;
  overflow: auto; }
  .sub_nav_box a {
    float: left;
    padding-right: 5%; }
    .sub_nav_box a:visited, .sub_nav_box a:hover, .sub_nav_box a:link, .sub_nav_box a:active {
      text-decoration: none;
      color: #545454; }

/*recent forum post----------------------------------- */
.forum_recent .row {
  margin: 0px 0px 0px 0px; }
  .forum_recent .row .forum_recent_post {
    padding: 3px 3px 3px 3px; }
    .forum_recent .row .forum_recent_post .forum_recent_post_item {
      padding: 3px 5px 3px 5px; }
      .forum_recent .row .forum_recent_post .forum_recent_post_item a {
        color: #fff;
        white-space: nowrap; }
        .forum_recent .row .forum_recent_post .forum_recent_post_item a h4 {
          overflow: hidden;
          text-overflow: ellipsis; }
        .forum_recent .row .forum_recent_post .forum_recent_post_item a h5 .forum_recent_post_item_comment {
          float: right; }

#forum_recent_0{
  background-color: #4CAF50;
}
#forum_recent_1{
  background-color: #2196F3;
}
#forum_recent_2{
  background-color: #FFC107;
}
#forum_recent_3{
  background-color: #E91E63;
}


/*forum post detail----------------------------------- */
.Forum_post_title h5 {
  padding-left: 10px; }

.Forum_post {
  overflow: auto; }
  .Forum_post .row {
    margin: 0px 0px 0px 0px; }
    .Forum_post .row .Forum_post_user {
      padding: 10px 10px 10px 10px;
      border-left: 6px solid #03A9F4; }
      .Forum_post .row .Forum_post_user .Forum_post_user_image {
        width: 80%;
        display: block;
        margin: auto;
        border: 1px solid #e0e0e0; }
        .Forum_post .row .Forum_post_user .Forum_post_user_image a img {
          width: 100%; }
      .Forum_post .row .Forum_post_user .Forum_post_user_info {
        text-align: center; }
    .Forum_post .row .Forum_post_content {
      border-radius: 10px;
      border: 1px solid #e0e0e0;
      padding: 10px 10px 10px 10px;
      min-height: 250px;
      overflow: hidden;
      max-width: 100%; }
      .Forum_post .row .Forum_post_content img {
        max-width: 100%; }

@media (max-width: 768px) {
  .Forum_post_user {
    padding: 10px 10px 10px 10px;
    border-left: 6px solid #03A9F4;
    overflow: auto;
    margin-bottom: 5px; }
    .Forum_post_user .Forum_post_user_image {
      max-height: 60px;
      max-width: 60px;
      border: 1px solid #e0e0e0;
      float: left;
      margin-left: 10px; }
      .Forum_post_user .Forum_post_user_image a img {
        width: 100%; }
    .Forum_post_user .Forum_post_user_info {
      padding-left: 10px;
      text-align: left;
      float: left; }
      .Forum_post_user .Forum_post_user_info h5 {
        margin: 0px 0px 0px 0px; }
      .Forum_post_user .Forum_post_user_info p {
        text-align: left;
        margin: 5px 0px 0px 5px; } }

.hr_forum_post{
  margin-bottom: 0px;
}
.Forum_post .row .Forum_not_same_user{
      padding: 10px 10px 10px 10px;
      border-left: 6px solid #FFEB3B; }

/*forum post detail----------------------------------- */
.Forum_breadcrumb {
  white-space: nowrap;
  overflow: hidden; }
  .Forum_breadcrumb p {
    text-overflow: ellipsis; }


/*gundam list----------------------------------- */
.list_show{
  
  width: 100%;
  
}
.list_show_item{
  width: 25%;
  float: left;
  
  position: relative;
}
.list_show_item:after{
  content: "";
  display: block;
  padding-bottom: 120%;
}
.list_show_item_content{
  position: absolute; 
  width: 100%;
  height: 100%;
  padding: 5px;
  
}
.list_show_item_content_img{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border:1px solid #f6f6f6;
}

.list_show_item_content_img img{
  width: 100%;
  padding:1px;
  

}

.list_show_item_info{
  width: 100%;
  position: absolute;
  left: 0;
  top: 80%;
  background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    height: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(241, 241, 241, 0.5);
    

}

.list_show_item_info a{
  font-size: 16px;
  font-weight : bold;
}



.list_show_item_info a, .list_show_item_info a:hover, 
.list_show_item_info a:visited, .list_show_item_info a:active{
  color: rgba(233, 233, 233, 0.7);
}
.clear{
  clear: both;
}

@media (max-width: 992px) and (min-width: 768px){
  .list_show_item{
    width: 33%;
  }
}

@media (max-width: 767px) and (min-width: 401px){
  .list_show_item{
    width: 50%;
  }

}
@media (max-width: 400px) {
  .list_show_item{
    width: 100%;
  }
}

/*list filter =========================*/
.list_filter{
  padding: 5px 5px 0px 5px;
}
.list_filter_page{
  float: left;
}
.list_filter_order{
  float: right;
}
.list_filter_page label{
  color: gray;
  font-weight: normal;
}
.list_filter_order label{
  color: gray;
  font-weight: normal;
}

/*detail gunpla================================*/
.detail_box {
  min-height: 300px;
  outline: 1px solid #ededed;
  padding: 5px;
  margin: 10px; }

.pre_img_sel {
  float: left;
  margin: 1%;
  min-width: 40px;
  width: 15%;
  max-width: 60px; }
  .pre_img_sel .pre_box {
    height: 25px;
    width: 100%;
    padding-bottom: 100%;
    outline: solid 1px #d7d7d7;
    margin-top: 5px;
    position: relative; }
    .pre_img_sel .pre_box .pre_box_img {
      width: 100%;
      height: 100%;
      position: absolute; }
      .pre_img_sel .pre_box .pre_box_img img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain; }

.pre_img_show {
  float: left;
  padding-bottom: 80%;
  margin: 1%;
  width: 80%;
  background-color: white;
  position: relative; }
  .pre_img_show .pre_img_box {
    outline: solid 1px white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute; }
    .pre_img_show .pre_img_box img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain; }

.pre_info {
  padding-right: 10px;
  padding-left: 10px; }

.pre_info h3 {
  margin-top: 0px;
  padding-top: 0px; }


  /*build gunpla================================*/
.detail_box_3 {
  min-height: 100px;
  outline: 1px solid #ededed;
  padding: 5px;
  margin: 10px; }

.rating_text_box {
  float: left;
  overflow: auto;
  width: 65%; }
  .rating_text_box div {
    float: left;
    min-height: 50px;
    width: 33%;
    border-right: 1px solid gray;
    text-align: center; }

.rating_select {
  float: left;
  width: 35%; }

.build_label {
  float: left;
  width: 30%;
  padding: 0 0 0 5px; }

.buid_button {
  
  float: left;
  width: 100%; }
  .buid_button button {
    width: 70%; 
    overflow: visible;}

@media (max-width: 767px) and (min-width: 401px) {
  .rating_text_box {
    width: 100%; }

  .rating_select {
    width: 100%;
    padding-top: 15px; }

  .build_label {
    float: left;
    width: auto;
    padding: 0 5px 0 5px; }

  .buid_button {
    float: left;
    width: 50%; 
    padding: 0px 3px 0px 3px;}
    .buid_button button {
      width: 100%;
      min-width: 100px; } }

@media (max-width: 400px) {
  .rating_text_box {
    width: 100%; }

  .rating_select {
  float: left;
  width: 100%;
  overflow: auto; }

  .build_label {
    float: left;
    width: auto;
    padding: 0 5px 0 5px; }

  .buid_button {
    float: left;
    width: 100%; }
    .buid_button button {
      width: 100%; } 
    }

/*blog_upload_image_preview  video_upload_preview===================*/
.blog_upload_image_preview{
  width: 100%;

}
.blog_upload_image_preview_repeat{
  margin: 5px;
  float: left;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.blog_upload_image_preview_repeat img{
  width: 100%;
  height: 100%;
}

.video_upload_preview{
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

/*blog post==========================================*/
.blog_detail .blog_type h4 {
  border-bottom: 3px solid #00BCD4;
  display: inline; }
.blog_detail .blog_user_info {
  color: grey; }
.blog_detail .blog_post {
  width: 100%;
  overflow: hidden; }
.blog_detail_images{
  padding: 5px;
}
.blog_detail_images_img img{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}
.blog_detail_description{
  width: 100%;
  min-height: 100px;
}
.blog_detail_description p{
  margin-left: 20px;
}
.blog_detail_video{
  width: 100%;
}
.blog_detail_video iframe{
  max-width: 100%;
}


/*gunpla rating box===================================================*/
.gunpla_rating {
  width: 100%;
  margin: 0 0 0 0;
  clear: both; }
  .gunpla_rating .gunpla_rating_overall {
    float: left; }
    .gunpla_rating .gunpla_rating_overall .gunpla_rating_overall_box {
      width: 100px;
      height: 100px;
      color: white; }
      .gunpla_rating .gunpla_rating_overall .gunpla_rating_overall_box p {
        font-size: 40px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px; }
    .gunpla_rating .gunpla_rating_overall p {
      font-size: 10px; }
  .gunpla_rating .gunpla_rating_bar {
    float: left;
    width: calc(50% - 110px);
    margin-left: 10px; }
    .gunpla_rating .gunpla_rating_bar p {
      margin-bottom: 0px;
      font-size: 11px; }
    .gunpla_rating .gunpla_rating_bar .progress {
      height: 5px;
      margin-bottom: 2px; }
  .gunpla_rating .gunpla_rating_user {
    float: left;
    width: 50%;
    height: 125px;
    border: 1px solid white; }
  .gunpla_rating .gunpla_rating_build {
    width: 100%; }
    .gunpla_rating .gunpla_rating_build .gunpla_rating_build_option {
      width: 16.5%;
      min-width: 115px;
      float: left; }
      .gunpla_rating .gunpla_rating_build .gunpla_rating_build_option div {
        float: left;
        width: 16px;
        height: 16px;
        
        margin-top: 2px;
        margin-right: 5px; }
      .gunpla_rating .gunpla_rating_build .gunpla_rating_build_option p {
        float: left; }

@media (max-width: 766px) {
  .gunpla_rating .gunpla_rating_bar {
    float: left;
    width: calc(100% - 110px);
    margin-left: 10px; 
  }
}
/*grbc = gunpla rating box color*/
.grbc_green{
  background-color: #4CAF50;
}
.grbc_yellow{
  background-color: #FDD835;
}
.grbc_red{
  background-color: #F44336;
}
.grbc_gray{
  background-color: #E0E0E0;
}

/*add button =======================*/
.add_button span { padding:8px; background:#ffffff; margin-right:4px; }
.add_button a { padding: 1px 15px 3px 2px; border-radius:50px;}
.add_button{
  float: right;
}
.section_title{
  overflow: auto;
}

.section_title h3{
  float: left;
}

/*gunpla detail review box==========================*/
.gunpla_review_row {
  width: 100%;
  margin: 0 0 0 0; }

.gunpla_review {
  width: 100%;
  margin: 0 0 0 0; }
  .gunpla_review .gunpla_review_box {
    padding: 5px 5px 5px 5px; }
    .gunpla_review .gunpla_review_box .gunpla_review_box_2 {
      border: 1px solid #ededed;
      padding: 10px 10px 10px 10px; }
      .gunpla_review .gunpla_review_box .gunpla_review_box_2 a img {
        width: 60px;
        height: 60px;
        float: left;
        margin-right: 10px; }
      .gunpla_review .gunpla_review_box .gunpla_review_box_2 a .gunpla_review_box_user {
        width: calc(100% - 70px);
        float: left;
        margin: 0 0 5px 0; }
        .gunpla_review .gunpla_review_box .gunpla_review_box_2 a .gunpla_review_box_user h5 {
          margin: 0 0 0 0; }
      .gunpla_review .gunpla_review_box .gunpla_review_box_2 a .gunpla_review_box_review {
        width: calc(100% - 70px);
        float: left;
        text-decoration: none;
        color: #333;
        height: 4em;
        font-size: 1em;
        overflow: hidden; }
      .gunpla_review .gunpla_review_box .gunpla_review_box_2 .gunpla_review_box_link {
        float: right;
        margin-top: 10px; }


/* detail more button -=============================*/
.section_button a {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px; 
  background-color: #039BE5;
  color: #fff;}

.section_button a:hover {
  border: 1px solid #039BE5;
  border-radius: 5px; 
  background-color: #1976D2;
  color: #fff;}


/* gunpla detail images ===============================*/
.gunpla_detail_image {
  width: 100%;
  overflow: auto; }
  .gunpla_detail_image .gunpla_detail_image_single {
    width: 15.66%;
    margin: .5% .5% .5% .5%;
    border: 1px solid #D3D3D3;
    height: auto;
    float: left; }
    .gunpla_detail_image .gunpla_detail_image_single .gunpla_detail_image_single_inner {
      position: relative;
      padding-bottom: 100%;
      padding-top: 0px;
      height: 0;
      overflow: hidden; }
      .gunpla_detail_image .gunpla_detail_image_single .gunpla_detail_image_single_inner a img {
        width: 100%;
        height: auto; }
      .gunpla_detail_image .gunpla_detail_image_single .gunpla_detail_image_single_inner a img .wide {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

@media (max-width: 766px) {
  .gunpla_detail_image .gunpla_detail_image_single {
    width: 48%; } }
@media (max-width: 991px) and (min-width: 767px) {
  .gunpla_detail_image .gunpla_detail_image_single {
    width: 32.33%; } }


/* blog gunpla detail list ===================================*/
.gunpla_blog_list {
  margin: 0;
  width: 100%; }
  .gunpla_blog_list .gunpla_blog_list_thumbnail {
    width: 32.3%;
    margin: .5% .5% .5% .5%;
    border: 1px solid #D3D3D3;
    height: auto;
    float: left;
    border-radius: 10px;
    overflow: hidden; }
  .gunpla_blog_list a {
    text-decoration: none; }
    .gunpla_blog_list a .gunpla_blog_list_thumbnail_image {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      overflow: hidden; }
      .gunpla_blog_list a .gunpla_blog_list_thumbnail_image img {
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .gunpla_blog_list a .gunpla_blog_list_thumbnail_text {
      min-height: 50px;
      text-align: center;
      padding: 8px 16px 8px 16px;
      background-color: #f6f6f6; }
      .gunpla_blog_list a .gunpla_blog_list_thumbnail_text .gunpla_blog_list_thumbnail_user {
        color: #bfbfbf;
        font-size: 1.2em;
        overflow: hidden; }
      .gunpla_blog_list a .gunpla_blog_list_thumbnail_text .gunpla_blog_lost_thumbnail_title {
        height: 3em;
        font-size: 1.3em;
        overflow: hidden;
        color: #333; }
  .gunpla_blog_list a:hover {
    text-decoration: none; }
    .gunpla_blog_list a:hover .gunpla_blog_list_thumbnail_text {
      color: #fff;
      background-color: #fff;
      text-decoration: none; }

@media (max-width: 991px) and (min-width: 401px){
  .gunpla_blog_list .gunpla_blog_list_thumbnail {
    width: 48%; } }

@media (max-width: 400px){
  .gunpla_blog_list .gunpla_blog_list_thumbnail {
    width: 99%; } }


/* gunpla detail empty post================================== */

.gunpla_detail_empty_box a{
  color: #939393;
}
.gunpla_detail_empty_box{
  margin: 5px 5px 20px 5px;
  min-height: 150px;
  border: 3px dashed #bdbdbd;
  position: relative; 

}
.gunpla_detail_empty_box a{
  color: #939393;
}
.gunpla_detail_empty_box a p{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


/*gunpla detail video=========================*/
.gunpla_detail_video {
  width: 100%; }
  .gunpla_detail_video .gunpla_detail_video_box {
    width: 24%;
    margin: .5% .5% .5% .5%;
    float: left; }
    .gunpla_detail_video .gunpla_detail_video_box a .gunpla_detail_video_inner {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
      border: 1px solid #D3D3D3; }
      .gunpla_detail_video .gunpla_detail_video_box a .gunpla_detail_video_inner iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .gunpla_detail_video .gunpla_detail_video_box a .gunpla_detail_video_text {
      width: 100%;
      min-height: 60px;
      position: relative; }
      .gunpla_detail_video .gunpla_detail_video_box a .gunpla_detail_video_text p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        height: 40px;
        overflow: hidden;
        padding-left: 5%;
        padding-right: 5%; }
    .gunpla_detail_video .gunpla_detail_video_box a:hover {
      text-decoration: none; }

@media (max-width: 991px) and (min-width: 401px){
  .gunpla_detail_video .gunpla_detail_video_box {
    width: 48%; } }

@media (max-width: 400px){
  .gunpla_detail_video .gunpla_detail_video_box {
    width: 99%; } } 






/* blog list ===========================================*/

.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    border-radius: 10px;
    overflow: hidden;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}
 
.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.blog_list_text{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.blog_list_text_title{
  max-height: 40px;
  min-height: 15px;
  overflow: hidden;
}
.blog_list_text_title p{
  font-size: 14px;
  margin-bottom: 0px;
  overflow: hidden;
  font-weight: bold;
}

.blog_list_text_user p{
  overflow: hidden;
  margin-bottom: 0px;
}


.blog_list_text_date{
  color: #939393;
}

.hr_blog_list{
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog_list_link, .blog_list_link:link, .blog_list_link:hover, .blog_list_link:active, .blog_list_link:visited{
  text-decoration: none;
  color: #000;
}
.blog_list_video{
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  border: 1px solid #D3D3D3; 
  overflow: hidden;

}
.blog_list_video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



/*loading =================*/
.loading_image{

}
.loading_image img{
  display: block;
  margin: auto;
  height: 120px;
}



/*homepage===================================================================*/

/*home_tri =======================*/
.home_tri {
  width: 100%;
  border: 1px solid #ededed;
  overflow: auto;
  margin: .5%;
  position: relative;
  overflow: hidden; }

.home_tri_absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.home_tri:before {
  content: "";
  display: block;
  padding-top: 30%; }

.home_tri_1 {
  width: 66.6%;
  height: 100%;
  float: left;
  position: relative;
  border: 1px solid #ededed; }

.home_tri_1_absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }

.home_tri_2 {
  width: 33.4%;
  height: 50%;
  float: left;
  position: relative;
  border: 1px solid #ededed; }

.home_tri_main_img {
  float: right;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-right: 1%;
  z-index: -1;
  position: absolute; }

.home_tri_main_img img {
  width: 60%;
  float: right;
  position: relative;
  overflow: hidden; }

.home_tri_main_text, .home_tri_2_main_text {
  float: left;
  width: 40%;
  padding-left: 2%;
  padding-top: 26%;
  white-space: nowrap;
  overflow: visible;
  z-index: 1;
  position: relative; }

.home_tri_main_text {
  padding-top: 15%; }

.home_tri_main_text p {
  font-size: 40px;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }

.home_tri_main_text span {
  font-size: 25px; }

.home_tri_2_main_text p {
  font-size: 14px;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }

.home_tri_2_main_text span {
  font-size: 12px; }

.home_tri_absolute a, .home_tri_absolute a:hover,
.home_tri_absolute a:visited, .home_tri_absolute a:active {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #545454; }

@media (max-width: 767px) {
  .home_tri_1 {
    width: 100%;
    height: 66.6%; }

  .home_tri_2 {
    width: 50%;
    height: 33.3%; }

  .home_tri:before {
    padding-top: 60%; }

  .home_tri_main_text p {
    font-size: 8vw;
    font-weight: bold; }

  .home_tri_main_text span {
    font-size: 5vw; }

  .home_tri_2_main_text p {
    font-size: 3vw;
    font-weight: bold; }

  .home_tri_2_main_text span {
    font-size: 3.0vw; }

  .home_tri_2_main_text {
    padding-top: 20%; } }


/*home_img =======================*/
.home_image {
  width: 100%;
  overflow: auto;
  border: 1px solid #ededed; }
  .home_image .home_img_all {
    width: 24%;
    margin: .5% .5% .5% .5%;
    height: auto;
    float: left; }
    .home_image .home_img_all .home_img_sub {
      position: relative;
      padding-bottom: 100%;
      padding-top: 0px;
      height: 0;
      overflow: hidden;
      border: 1px solid #ededed; }
      .home_image .home_img_all .home_img_sub img {
        width: 100%;
        height: auto; }
      .home_image .home_img_all .home_img_sub img.wide {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

@media (max-width: 767px) {
  .home_image .home_img_all {
    width: 49%; } }


/* home grade======================= =======================*/
.home_grade_main {
  width: 100%;
  border: 1px solid #ededed;
  overflow: auto; }
  .home_grade_main .home_grade_item {
    width: 15.66%;
    margin: .5% .5% .5% .5%;
    float: left;
    border: 1px solid #ededed; }

.home_grade_img_outer {
  width: 100%;
  position: relative;
  overflow: hidden; }

.home_grade_img_outer:after {
  content: "";
  display: block;
  padding-bottom: 45%; }

.home_grade_img_outer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden; }

.home_grade_text {
  width: 100%; }

.home_grade_text p {
  margin-bottom: 0px; }

.home_grade_item a, .home_grade_item a:hover,
.home_grade_item a:visited, .home_grade_item a:active {
  color: #696969;
  text-align: center; }

@media (max-width: 767px) {
  .home_grade_main .home_grade_item {
    width: 32.33%; } }


/*home_poll =======================*/
.home_poll {
  height: 300px;
  background-color: #e6ffff; }


/*home_new =======================*/
.home_new_kits {
  width: 100%;
  border: 1px solid #ededed; }

.home_new_kit_outer {
  width: 15.66%;
  margin: .5% .5% .5% .5%;
  position: relative;
  float: left;
  border: 1px solid #f6f6f6; }

.home_new_kit_outer:after {
  content: "";
  display: block;
  padding-bottom: 120%; }

.home_new_kit_abs {
  position: absolute;
  width: 100%;
  height: 100%; }

.home_new_kit_img {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.home_new_kit_img img {
  width: 100%;
  height: auto; }

.home_new_kit_text {
  width: 100%;
  position: absolute;
  left: 0;
  top: 80%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  height: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(241, 241, 241, 0.5); }

.home_new_kit_text a {
  font-size: 14px;
  font-weight: bold; }

.home_new_kit_text a, .home_new_kit_text a:hover,
.home_new_kit_text a:visited, .home_new_kit_text a:active {
  color: rgba(233, 233, 233, 0.7); }

@media (max-width: 767px) {
  .home_new_kit_outer {
    width: 32.33%; } }


/*home_video =======================*/
.home_video {
  min-height: 150px;
  background-color: #8a8a8a; }

.home_video_box {
  width: 100%; }
  .home_video_box .home_video_box_player {
    width: 15.66%;
    margin: .5% .5% .5% .5%;
    float: left; }
    .home_video_box .home_video_box_player a .home_video_box_player_inner {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0; }
      .home_video_box .home_video_box_player a .home_video_box_player_inner iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .home_video_box .home_video_box_player a .home_video_box_player_text {
      height: 40px;
      width: 100%;
      position: relative; }
      .home_video_box .home_video_box_player a .home_video_box_player_text p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        height: 40px;
        overflow: hidden;
        padding-left: 5%;
        padding-right: 5%;
        color: #ededed; }
    .home_video_box .home_video_box_player a:hover, .home_video_box .home_video_box_player a:visited, .home_video_box .home_video_box_player a:active {
      text-decoration: none;
      color: #ededed; }

@media (max-width: 991px) {
  .home_video_box .home_video_box_player {
    width: 32.33%; } }

/*================*/
.home_blog {
  width: 100%;
  background-color: #e9e9e9;
  padding: .5%;
  min-height: 600px; }







/*user profile user info banner===========================================*/
.profile_user {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  overflow: hidden; }
  .profile_user .profile_user_banner{
    width: 100%;
    overflow: hidden;
    max-height: 250px;


  }
  .profile_user .profile_user_banner img {
    width: 100%;
    left: 0;
    right: 0;
     }
  .profile_no_banner{
    width: 100%;
    height: 200px;
    background-color: #bdbdbd;
    border-bottom: 1px solid #e4e4e4;
  }
  .profile_user .profile_user_image img {
    width: 150px;
    height: 150px;
    border: 6px solid #fff;
    margin-top: -75px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .profile_user .profile_user_info {
    text-align: center; }

  .profile_user .profile_user_info h3 span{
    font-size: 14px;
    font-weight: normal;
  }


.profile_blog_box{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  min-height: 100px;
  padding: 5px;
}

/*user profile built=========================*/
.user_profile_built {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  min-height: 200px;
  padding: 5px 5px 5px 5px; }
  .user_profile_built .user_profile_built_box {
    width: 15.6%;
    margin: .5% .5% .5% .5%;
    height: auto;
    float: left; }
    .user_profile_built .user_profile_built_box a .up_built_img {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      padding-top: 0;
      height: 0;
      overflow: hidden;
      border: 1px solid #e4e4e4; }
      .user_profile_built .user_profile_built_box a .up_built_img img {
        width: 100%;
        height: auto; }
    .user_profile_built .user_profile_built_box a .up_built_rating {
      width: 100%;
      padding: 0 2% 0 2%;
      background-color: #e9e9e9; }
      .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built {
        float: left; }
        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built div {
          float: left;
          width: 14px;
          height: 14px;
          border: 1px solid #bdbdbd;
          margin-right: 3px;
          margin-top: 3px; }
        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built .Built {
          background-color: #00BCD4; }
        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built .Custom {
          background-color: #2196F3; }
        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built .Building {
          background-color: #8BC34A; }
        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built .Bought {
          background-color: #FF9800; }
        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built .WishList {
          background-color: #FFEB3B; }
        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built .Skip {
          background-color: #F44336; }

        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_rating_built p {
          float: left;
          margin-bottom: 0px; }
      .user_profile_built .user_profile_built_box a .up_built_rating .up_built_star {
        float: right;
        margin-bottom: 0px; }
        .user_profile_built .user_profile_built_box a .up_built_rating .up_built_star p {
          margin-bottom: 0px; }
          .user_profile_built .user_profile_built_box a .up_built_rating .up_built_star p span {
            color: #FFEE58;
            text-shadow: -1px 0 #bdbdbd, 0 1px #bdbdbd, 1px 0 #bdbdbd, 0 -1px #bdbdbd; }
    .user_profile_built .user_profile_built_box a .up_built_text {
      width: 100%;
      height: 40px;
      position: relative;
      overflow: hidden; }
      .user_profile_built .user_profile_built_box a .up_built_text p {
        text-align: center;
        margin-bottom: 0px; }
    .user_profile_built .user_profile_built_box a, .user_profile_built .user_profile_built_box a:hover, .user_profile_built .user_profile_built_box a:active, .user_profile_built .user_profile_built_box a:visited {
      text-decoration: none;
      color: #333; }

@media (max-width: 767px) and (min-width: 401px) {
  .user_profile_built .user_profile_built_box  {
    width: 32.33%; } }
@media (max-width: 400px) {
  .user_profile_built .user_profile_built_box  {
    width: 49%; } }


/*user profile reivew box======================================*/
.user_profile_reviews {
  width: 100%; }
  .user_profile_reviews .user_profile_reviews_box {
    width: 49%;
    float: left;
    border: 1px solid #e4e4e4;
    margin: .5% .5% .5% .5%; }
    .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla {
      width: 25%;
      float: left;
      padding: 1% 1% 1% 1%; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a .up_review_box_gunpla_img{
        width: 100%;
        overflow: hidden;
        height: 120px;
        position: relative; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a .up_review_box_gunpla_img img{
        position: absolute; 
        top: 0; 
        left: 0;
        width: 100%;
      }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a p {
        height: 32px;
        font-size: 12px;
        overflow: hidden;
        width: 100%;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 0px; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a:hover, .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a:visited, .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a:active {
        text-decoration: none;
        color: #333; }
    .user_profile_reviews .user_profile_reviews_box .up_review_box_review {
      width: 75%;
      float: left;
      padding: 1% 1% 1% 1%;
      overflow: hidden; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text {
        border-radius: 5px;
        padding: 2%;
        width: 100%;
        height: 150px;
        background-color: #dbdbdb;
        overflow: hidden; }
        .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a, .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a:hover, .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a:visited, .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a:active {
          text-decoration: none; }
        .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a p {
          color: #333; 
          }
    .user_profile_reviews .user_profile_reviews_box .up_review_box_rating {
      width: 100%;
      padding: 1%; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option {
        width: 33.3%;
        min-width: 115px;
        float: left; }
        .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option div {
          float: left;
          width: 16px;
          height: 16px;
          background-color: green;
          margin-top: 2px;
          margin-right: 5px; }
        .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option p {
          float: left; }

@media (max-width: 991px) and (min-width: 768px) {
  .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option {
    width: 50%; } }
@media (max-width: 767px) and (min-width: 501px) {
  .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option {
    width: 50%; }

  .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla {
    width: 100%; }

  .user_profile_reviews .user_profile_reviews_box .up_review_box_review {
    width: 100%; } }
@media (max-width: 500px) {
  .user_profile_reviews .user_profile_reviews_box {
    width: 98%; }
  .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option {
    width: 50%; }
  .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla {
    width: 100%; }

  .user_profile_reviews .user_profile_reviews_box .up_review_box_review {
    width: 100%; }  }

/* blog list with full page blog post in each======================*/
.blog_full_list {
  width: 100%; }
  .blog_full_list .blog_full_list_box {
    width: 100%;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
    border: 1px solid #e4e4e4; }
    .blog_full_list .blog_full_list_box .blog_full_list_title {
      width: 100%;
      min-height: 40px;
      padding: 16px;
      background-color: #e9e9e9;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      .blog_full_list .blog_full_list_box .blog_full_list_title a p {
        margin-bottom: 0; }
      .blog_full_list .blog_full_list_box .blog_full_list_title a, .blog_full_list .blog_full_list_box .blog_full_list_title a:visited, .blog_full_list .blog_full_list_box .blog_full_list_title a:active, .blog_full_list .blog_full_list_box .blog_full_list_title a:hover {
        text-decoration: none;
        color: #333; }
    .blog_full_list .blog_full_list_box .blog_full_list_content {
      width: 100%;
      min-height: 200px;
      max-height: 1400px;
      overflow: hidden;
    }
      .blog_full_list .blog_full_list_box .blog_full_list_content img {
        width: 100%;
        height: auto; }
    .blog_full_list .blog_full_list_box .blog_full_list_text {
      width: 100%;
      background-color: #e9e9e9;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 16px;
      padding-bottom: 5px; }
      .blog_full_list .blog_full_list_box .blog_full_list_text .blog_full_list_user a img {
        height: 40px;
        width: 40px;
        border-radius: 3px;
        border: 1px solid #e4e4e4;
        float: left;
        margin-right: 5px; }
      .blog_full_list .blog_full_list_box .blog_full_list_text .blog_full_list_user a p {
        float: left;
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 7px; }
      .blog_full_list .blog_full_list_box .blog_full_list_text .blog_full_list_desc {
        width: 100%;
        margin-top: 12px; }
        .blog_full_list .blog_full_list_box .blog_full_list_text .blog_full_list_desc .blog_full_list_desc_date {
          margin-bottom: 5px; }

.blog_detail_images_img img{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.blog_detail_video{
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  border: 1px solid #D3D3D3;
}
.blog_detail_video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog_full_list_content_text{
  padding: 1%;
}

/*login box==========================*/
.login_box {
  width: 50%;
  margin: auto;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  min-height: 200px;
  padding-left: 2%; 
  padding-right: 2%;
  padding-bottom: 2%;}
  .login_box h3 {
    text-align: center; }
@media (max-width: 991px) and (min-width: 768px) {
  .login_box{
    width: 80%;
  }
}
@media (max-width: 767px){
  .login_box{
    width: 100%;
  }
}

/*home accouncmemnt=======================*/
.home_announcement{
  width: 100%
}

/*gundam sub view===============================*/
.gundam_sub_view {
  width: 100%;
  padding: 1%; }
  .gundam_sub_view .gundam_sub_view_img {
    float: left;
    width: 25%;
    padding-bottom: 25%;
    position: relative; }
    .gundam_sub_view .gundam_sub_view_img .gundam_sub_view_img_box {
      outline: solid 1px #e4e4e4;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute; }
      .gundam_sub_view .gundam_sub_view_img .gundam_sub_view_img_box img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain; }
  .gundam_sub_view .gundam_sub_view_text {
    margin-left: 1%;
    float: left;
    width: 74%; }

@media (max-width: 767px) {
  .gundam_sub_view .gundam_sub_view_img{
    width: 100%;
    padding-bottom: 150px;
  }
  .gundam_sub_view .gundam_sub_view_text {
    width: 99%;
  }
}

/*review list of a gunpla=========================*/
.review_full_list {
  width: 100%; }
  .review_full_list hr {
    margin: 10px;
    margin-bottom: 30px;
    border-top: 1px solid #dbdbdb; }
  .review_full_list .review_full_list_item {
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    padding: 1%; }
    .review_full_list .review_full_list_item .review_full_list_image {
      height: 100px;
      width: 100px;
      float: left;
      border: 1px solid #e4e4e4; }
      .review_full_list .review_full_list_item .review_full_list_image img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
    .review_full_list .review_full_list_item .review_full_list_reivew {
      width: calc(99% - 100px);
      padding: 1%;
      margin-left: 1%;
      min-height: 250px;
      float: left;
      border-radius: 10px;
      border: 1px solid #e4e4e4;
      overflow: hidden;
      margin-bottom: 10px; }
      .review_full_list .review_full_list_item .review_full_list_reivew p {
        max-height: 500px; }
    .review_full_list .review_full_list_item .review_full_box_rating {
      width: 100%;
      padding: 1%; }
      .review_full_list .review_full_list_item .review_full_box_rating .review_full_rating_build_option {
        width: 16.66%;
        min-width: 115px;
        float: left; }
        .review_full_list .review_full_list_item .review_full_box_rating .review_full_rating_build_option div {
          float: left;
          width: 16px;
          height: 16px;
          background-color: green;
          margin-top: 2px;
          margin-right: 5px; }
        .review_full_list .review_full_list_item .review_full_box_rating .review_full_rating_build_option p {
          float: left; }

@media (max-width: 991px) and (min-width: 401px) {
  .review_full_list_item .review_full_box_rating .review_full_rating_build_option {
    width: 33.33%; } }
@media (max-width: 400px) {
  .review_full_list_item .review_full_box_rating .review_full_rating_build_option {
    width: 50%; }

  .review_full_list_image {
    height: 50px;
    width: 50px; }

  .review_full_list_reivew {
    width: calc(99% - 50px); } }

/*user profile reivew box======================================*/
.user_profile_reviews {
  width: 100%;}
  .user_profile_reviews .user_profile_reviews_box {
    width: 49%;
    float: left;
    border: 1px solid #e4e4e4;
    margin: .5% .5% .5% .5%; }
    .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla {
      width: 25%;
      float: left;
      padding: 1% 1% 1% 1%; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a .up_review_box_gunpla_img{
        width: 100%;
        overflow: hidden;
        height: 120px;
        position: relative; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a .up_review_box_gunpla_img img{
        position: absolute; 
        top: 0; 
        left: 0;
        width: 100%;
      }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a p {
        height: 32px;
        font-size: 12px;
        overflow: hidden;
        width: 100%;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 0px; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a:hover, .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a:visited, .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla a:active {
        text-decoration: none;
        color: #333; }
    .user_profile_reviews .user_profile_reviews_box .up_review_box_review {
      width: 75%;
      float: left;
      padding: 1% 1% 1% 1%;
      overflow: hidden; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text {
        border-radius: 5px;
        padding: 2%;
        width: 100%;
        height: 150px;
        background-color: #dbdbdb;
        overflow: hidden; }
        .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a, .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a:hover, .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a:visited, .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a:active {
          text-decoration: none; }
        .user_profile_reviews .user_profile_reviews_box .up_review_box_review .up_review_box_review_text a p {
          color: #333; 
          }
    .user_profile_reviews .user_profile_reviews_box .up_review_box_rating {
      width: 100%;
      padding: 1%; }
      .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option {
        width: 33.3%;
        min-width: 115px;
        float: left; }
        .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option div {
          float: left;
          width: 16px;
          height: 16px;
          background-color: green;
          margin-top: 2px;
          margin-right: 5px; }
        .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option p {
          float: left; }

@media (max-width: 991px) and (min-width: 768px) {
  .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option {
    width: 50%; } }
@media (max-width: 767px) and (min-width: 501px) {
  .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option {
    width: 50%; }

  .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla {
    width: 100%; }

  .user_profile_reviews .user_profile_reviews_box .up_review_box_review {
    width: 100%; } }
@media (max-width: 500px) {
  .user_profile_reviews .user_profile_reviews_box {
    width: 98%; }
  .user_profile_reviews .user_profile_reviews_box .up_review_box_rating .up_review_rating_build_option {
    width: 50%; }
  .user_profile_reviews .user_profile_reviews_box .up_review_box_gunpla {
    width: 100%; }

  .user_profile_reviews .user_profile_reviews_box .up_review_box_review {
    width: 100%; }  }

/*detail gunpla reivew box======================================*/
.gunpla_detail_reviews_box {
  width: 100%;
  float: left;
  margin: .5% .5% .5% .5%; }
  .gunpla_detail_reviews_box .gunpla_detail_review_box_gunpla {
    width: 20%;
    float: left;
    padding: 1% 1% 1% 1%; }
    .gunpla_detail_reviews_box .gunpla_detail_review_box_gunpla a .gunpla_detail_review_box_gunpla_img {
      width: 100%;
      overflow: hidden;
      max-height: 240px;
      outline: 1px solid #e4e4e4; }
    .gunpla_detail_reviews_box .gunpla_detail_review_box_gunpla a .gunpla_detail_review_box_gunpla_img img {
      width: 100%;
      height: 100%;
    }
    .gunpla_detail_reviews_box .gunpla_detail_review_box_gunpla a p {
      height: 32px;
      font-size: 12px;
      overflow: hidden;
      width: 100%;
      font-weight: bold;
      text-decoration: none; }
    .gunpla_detail_reviews_box .gunpla_detail_review_box_gunpla a:hover, .gunpla_detail_reviews_box .gunpla_detail_review_box_gunpla a:visited, .gunpla_detail_reviews_box .gunpla_detail_review_box_gunpla a:active {
      text-decoration: none;
      color: #333; }
  .gunpla_detail_reviews_box .gunpla_detail_review_box_review {
    width: 78%;
    float: left;
    padding: 1% 1% 1% 1%;
    overflow: hidden; 
    }
    .gunpla_detail_reviews_box .gunpla_detail_review_box_review .gunpla_detail_review_box_review_text {
      border-radius: 5px;
      border: 1px solid #e4e4e4;
      padding: 2%;
      width: 100%;
      min-height: 300px;
      overflow: hidden; }
      .gunpla_detail_reviews_box .gunpla_detail_review_box_review .gunpla_detail_review_box_review_text a, .gunpla_detail_reviews_box .gunpla_detail_review_box_review .gunpla_detail_review_box_review_text a:hover, .gunpla_detail_reviews_box .gunpla_detail_review_box_review .gunpla_detail_review_box_review_text a:visited, .gunpla_detail_reviews_box .gunpla_detail_review_box_review .gunpla_detail_review_box_review_text a:active {
        text-decoration: none; }
      .gunpla_detail_reviews_box .gunpla_detail_review_box_review .gunpla_detail_review_box_review_text a p {
        color: #333; }
  .gunpla_detail_reviews_box .gunpla_detail_review_box_rating {
    width: 100%;
    padding: 1%; }
    .gunpla_detail_reviews_box .gunpla_detail_review_box_rating .gunpla_detail_review_rating_build_option {
      width: 16.66%;
      min-width: 115px;
      float: left; }
      .gunpla_detail_reviews_box .gunpla_detail_review_box_rating .gunpla_detail_review_rating_build_option div {
        float: left;
        width: 16px;
        height: 16px;
        background-color: green;
        margin-top: 2px;
        margin-right: 5px; }
      .gunpla_detail_reviews_box .gunpla_detail_review_box_rating .gunpla_detail_review_rating_build_option p {
        float: left; }

@media (max-width: 991px) and (min-width: 768px) {
  .gunpla_detail_reviews_box .gunpla_detail_review_box_rating .gunpla_detail_review_rating_build_option {
    width: 33.33%; } }
@media (max-width: 767px) and (min-width: 401px) {
  .gunpla_detail_reviews_box .gunpla_detail_review_box_rating .gunpla_detail_review_rating_build_option{
    width: 33.3%; }

  .up_review_box_gunpla {
    width: 100%; }

  .up_review_box_review {
    width: 100%; } }
@media (max-width: 420px) {
  .gunpla_detail_reviews_box .gunpla_detail_review_box_rating .gunpla_detail_review_rating_build_option{
    width: 50%; }}



/*gundam image list ======================================*/
.gunpla_image_list {
  width: 100%; }
  .gunpla_image_list .gunpla_image_list_item {
    width: 30.33%;
    padding-bottom: 30.33%;
    border: 1px solid #e4e4e4;
    margin: 1.5%;
    overflow: hidden;
    position: relative;
    float: left; }
    .gunpla_image_list .gunpla_image_list_item a .gi_list_item_box {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0%; }
      .gunpla_image_list .gunpla_image_list_item a .gi_list_item_box .gi_list_item_box_text {
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(88, 88, 88, 0.7);
        padding: 2%;
        position: relative; }
        .gunpla_image_list .gunpla_image_list_item a .gi_list_item_box .gi_list_item_box_text .gi_list_item_box_text_title {
          height: 52px;
          width: 100%;
          text-overflow: ellipsis;
          font-size: 18px;
          overflow: hidden; }
        .gunpla_image_list .gunpla_image_list_item a .gi_list_item_box .gi_list_item_box_text .gi_list_item_box_text_user {
          position: absolute;
          width: 100%;
          bottom: 0px;
          left: 0px;
          height: 46px;
          padding: 2%;
          overflow: hidden; }
          .gunpla_image_list .gunpla_image_list_item a .gi_list_item_box .gi_list_item_box_text .gi_list_item_box_text_user span {
            margin-left: 2%;
            float: right; }
    .gunpla_image_list .gunpla_image_list_item a .gi_list_item_box:hover .gi_list_item_box_text {
      display: block; }
    .gunpla_image_list .gunpla_image_list_item a:hover, .gunpla_image_list .gunpla_image_list_item a:visited, .gunpla_image_list .gunpla_image_list_item a:active {
      text-decoration: none;
      color: #ededed; }

@media (max-width: 767px) and (min-width: 401px) {
  .gunpla_image_list .gunpla_image_list_item {
    width: 47%;
    padding-bottom: 47%;
  }
}
@media (max-width: 450px) {
  .gunpla_image_list .gunpla_image_list_item {
    width: 97%;
    padding-bottom: 97%;
  }
}

/*user profile table===========================================================*/
.user_profile_table {
  width: 100%; }
  .user_profile_table a, .user_profile_table a:hover, .user_profile_table a:active, .user_profile_table a:visited {
    color: #333; }
  .user_porfile_build_table_id tr td{
    max-width: 200px;
  }


/*User blog square table===========================================================*/

.user_profile_blog_square{
  width: 100%;

}

/*square blog post============================*/
.user_profile_blog_square{
  width: 100%;
}
.blog_square {
  width: 30.33%;
  padding-bottom: 30.33%;
  border: 1px solid #e4e4e4;
  margin: 1.5%;
  overflow: hidden;
  position: relative;
  float: left; }
  .blog_square .blog_square_inner:hover .blog_square_user {
    background-color: rgba(174, 174, 174, 0.7); }
  .blog_square .blog_square_image_inner a .gi_list_item_box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%; }
    .blog_square .blog_square_image_inner a .gi_list_item_box .gi_list_item_box_text {
      display: none;
      width: 100%;
      height: 100%;
      background: rgba(88, 88, 88, 0.7);
      padding: 2%;
      position: relative; }
      .blog_square .blog_square_image_inner a .gi_list_item_box .gi_list_item_box_text .gi_list_item_box_text_title {
        height: 52px;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 18px;
        overflow: hidden; }
      .blog_square .blog_square_image_inner a .gi_list_item_box .gi_list_item_box_text .gi_list_item_box_text_user {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        height: 46px;
        padding: 2%;
        overflow: hidden; }
        .blog_square .blog_square_image_inner a .gi_list_item_box .gi_list_item_box_text .gi_list_item_box_text_user span {
          margin-left: 2%;
          float: right; }
  .blog_square .blog_square_image_inner a .gi_list_item_box:hover .gi_list_item_box_text {
    display: block; }
  .blog_square .blog_square_image_inner a:hover, .blog_square .blog_square_image_inner a:visited, .blog_square .blog_square_image_inner a:active {
    text-decoration: none;
    color: #ededed; }
  .blog_square .blog_square_inner {
    width: 100%;
    height: 100%;
    position: absolute; }
    .blog_square .blog_square_inner .blog_square_user {
      width: 100%;
      height: 50px; }
      .blog_square .blog_square_inner .blog_square_user .blog_square_user_img {
        width: 40px;
        height: 40px;
        border: 1px solid #e4e4e4;
        margin: 5px 5px 5px 5px;
        overflow: hidden;
        float: left; }
        .blog_square .blog_square_inner .blog_square_user .blog_square_user_img img {
          width: 100%;
          height: 100%; }
      .blog_square .blog_square_inner .blog_square_user .blog_square_user_username {
        float: left;
        margin: 5px 5px 5px 0px;
        font-size: 20px;
        overflow: hidden;
        width: calc(100% - 65px);
        height: 40px;
        vertical-align: text-bottom;
        text-overflow: ellipsis;
        line-height: 40px; }
        .blog_square .blog_square_inner .blog_square_user .blog_square_user_username a:hover, .blog_square .blog_square_inner .blog_square_user .blog_square_user_username a:active, .blog_square .blog_square_inner .blog_square_user .blog_square_user_username a:visited {
          text-decoration: none;
          color: #333; }
    .blog_square .blog_square_inner .blog_square_content {
      width: 100%;
      height: 70%;
      overflow: hidden; }
      .blog_square .blog_square_inner .blog_square_content h4 {
        padding: 0px 5px 0px 5px;
        margin-top: 5px;
        word-wrap: break-word;
        max-height: 2.4em;
        /* (Number of lines you want visible) * (line-height) */
        line-height: 1.2em;
        overflow: hidden; }
        .blog_square .blog_square_inner .blog_square_content h4 a, .blog_square .blog_square_inner .blog_square_content h4 a:hover, .blog_square .blog_square_inner .blog_square_content h4 a:active, .blog_square .blog_square_inner .blog_square_content h4 a:visited {
          text-decoration: none;
          color: #333; }
      .blog_square .blog_square_inner .blog_square_content hr {
        border-top: 1px solid #C2C2C2;
        margin: 0px 10px 2px 10px; }
      .blog_square .blog_square_inner .blog_square_content p {
        padding: 5px; }
        .blog_square .blog_square_inner .blog_square_content p a, .blog_square .blog_square_inner .blog_square_content p a:hover, .blog_square .blog_square_inner .blog_square_content p a:active, .blog_square .blog_square_inner .blog_square_content p a:visited {
          text-decoration: none;
          color: #333; }
      .blog_square .blog_square_inner .blog_square_content .blog_square_content_img {
        width: 100%;
        height: calc(100% - 2.4em);
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%; }
      .blog_square .blog_square_inner .blog_square_content a .blog_square_content_img {
        width: 100%;
        height: calc(100% - 2.4em);
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%; }
      .blog_square .blog_square_inner .blog_square_content .blog_square_content_video {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        border: 1px solid #D3D3D3; }
        .blog_square .blog_square_inner .blog_square_content .blog_square_content_video iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
    .blog_square .blog_square_inner .blog_square_info {
      width: 100%;
      height: calc(30% - 50px);
      background-color: #f3f3f3;
      padding-top: 5px; }
      .blog_square .blog_square_inner .blog_square_info p {
        text-align: right;
        padding-right: 5px; }

@media (max-width: 991px) and (min-width: 501px) {
  .blog_square {
    width: 47%;
    padding-bottom: 47%;
    border: 1px solid #e4e4e4;
    margin: 1.5%;
    overflow: hidden;
    position: relative;
    float: left; }
}
@media (max-width: 500px) {
  .blog_square {
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid #e4e4e4;
    margin-bottom: 2%;
    overflow: hidden;
    position: relative;
    float: left; }
}

/*home gunpla blog list==========================*/

.home_gunpla_blog_list{
  width: 100%;
  background-color: #fff;
  min-height: 500px;
  border-radius: 10px;

}


.gunpla_detail_all_blog_list{
  width: 100%;
}

/*portfolio============================================*/
.portfolio_user {
  width: 100%;
  min-height: 200px;
  background-color: #00BCD4; }
  .portfolio_user .portfolio_user_image {
    width: 26.33%;
    padding-bottom: 26.33%;
    border: 1px solid #e4e4e4;
    margin: 1.5%;
    overflow: hidden;
    position: relative;
    float: left;
    border-radius: 50%; }
    .portfolio_user .portfolio_user_image a .portfolio_user_image_box {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0%; }
  .portfolio_user .portfolio_user_info {
    width: 67.66%;
    margin: 1.5%;
    min-height: 100px;
    float: left;
    padding-left: 20px; }
    .portfolio_user .portfolio_user_info p {
      color: white;
      font-size: 1.5vw; }
      .portfolio_user .portfolio_user_info p #portfolio_user_info_hello {
        font-size: 6vw; }
      .portfolio_user .portfolio_user_info p #portfolio_user_info_name {
        font-size: 3vw; }
      .portfolio_user .portfolio_user_info p #portfolio_user_info_job {
        font-size: 1.8vw; }

.portfolio_user_text_box {
  width: 100%; }
  .portfolio_user_text_box .portfolio_user_text_title {
    text-align: center; }
    .portfolio_user_text_box .portfolio_user_text_title p {
      font-size: 28px;
      padding-top: 10px;
      padding-bottom: 20px; }
  .portfolio_user_text_box .portfolio_user_text_content {
    width: 100%;
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%; }
  .portfolio_user_text_box .portfolio_user_text_skills ul {
    display: table;
    margin: 0 auto; }
    .portfolio_user_text_box .portfolio_user_text_skills ul li {
      display: inline-block;
      border: 1px solid #03A9F4;
      border-radius: 4px;
      padding: 3px 5px 3px 5px;
      margin: 4px; }
  .portfolio_user_text_box .portfolio_user_text_experience {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    color: 545454; }
    .portfolio_user_text_box .portfolio_user_text_experience .portfolio_user_text_experience_title {
      font-size: 20px; }
      .portfolio_user_text_box .portfolio_user_text_experience .portfolio_user_text_experience_title span {
        float: right; }
      .portfolio_user_text_box .portfolio_user_text_experience .portfolio_user_text_experience_title hr {
        margin: 0px;
        border-top: 1px solid #9E9E9E; }
    .portfolio_user_text_box .portfolio_user_text_experience .portfolio_user_text_experience_content {
      font-size: 16px; }
      .portfolio_user_text_box .portfolio_user_text_experience .portfolio_user_text_experience_content ul li {
        list-style-type: circle; }

.portfolio_user_school {
  width: 100%;
  background-color: #f3f3f3;
  min-height: 200px; }
  .portfolio_user_school .portfolio_user_school_img {
    width: 180px;
    padding-bottom: 180px;
    border: 1px solid #e4e4e4;
    margin: 1.5%;
    overflow: hidden;
    position: relative;
    float: left;
    border-radius: 50%; }
    .portfolio_user_school .portfolio_user_school_img a .portfolio_user_school_img_box {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0%; }
  .portfolio_user_school .portfolio_user_school_text {
    width: calc(94% - 180px);
    margin: 1.5%;
    min-height: 100px;
    float: left;
    padding-left: 20px;
    padding-top: 10px; }
    .portfolio_user_school .portfolio_user_school_text p {
      font-size: 18px; }
      .portfolio_user_school .portfolio_user_school_text p span {
        font-size: 22px; }

@media (max-width: 600px) {
  .portfolio_user {
    width: 100%;
    min-height: 200px;
    background-color: #00BCD4; }
    .portfolio_user .portfolio_user_image {
      width: 80%;
      padding-bottom: 80%;
      margin: 10%; }
    .portfolio_user .portfolio_user_info {
      width: 95%;
      margin: 2.5%;
      min-height: 100px;
      float: left;
      padding-left: 0px; }
      .portfolio_user .portfolio_user_info p {
        color: white;
        font-size: 24px; }
        .portfolio_user .portfolio_user_info p #portfolio_user_info_hello {
          font-size: 42px; }
        .portfolio_user .portfolio_user_info p #portfolio_user_info_name {
          font-size: 36px; }
        .portfolio_user .portfolio_user_info p #portfolio_user_info_job {
          font-size: 28px; }

  .portfolio_user_school .portfolio_user_school_img {
    width: 80%;
    padding-bottom: 80%;
    margin: 10%; }
  .portfolio_user_school .portfolio_user_school_text {
    width: 95%;
    margin: 2.5%;
    float: left;
    padding-left: 0px;
    padding-top: 0px; }
    .portfolio_user_school .portfolio_user_school_text p {
      font-size: 18px; }
      .portfolio_user_school .portfolio_user_school_text p span {
        font-size: 22px; } }











