{% load staticfiles %}
<!DOCTYPE html>

<html ng-app="gundam">
    <head lang="en_US">
		
		<title>Gundam Database</title>
        <meta name="home" content="Gundam Database gundamdatabase"/>
        
        <base href="/">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BootStrap CDN replace later -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- JS files  -->

        <!-- Angular CDN replace later -->
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8//angular.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js'></script>






        <!-- angular app -->
        <script src='{% static "js/app/app.module.js" %}' ></script>
        <script src='{% static "js/app/app.config.js" %}' ></script>

        <script src='{% static "js/app/core/interceptors/interceptors.module.js" %}' ></script>
        <script src='{% static "js/app/core/interceptors/login_required.service.js" %}' ></script>

        <script src='{% static "js/app/core/forum_data/forum_data.module.js" %}' ></script>
        <script src='{% static "js/app/core/forum_data/forum_data.service.js" %}' ></script>

        <script src='{% static "js/app/core/account_data/account_data.module.js" %}' ></script>
        <script src='{% static "js/app/core/account_data/account_data.service.js" %}' ></script>

        <script src='{% static "js/app/core/gunpla_data/gunpla_data.module.js" %}' ></script>
        <script src='{% static "js/app/core/gunpla_data/gunpla_data.service.js" %}' ></script>

        <script src='{% static "js/app/core/question_data/question_data.module.js" %}' ></script>
        <script src='{% static "js/app/core/question_data/question_data.service.js" %}' ></script>

        <script src='{% static "js/app/core/blog_data/blog_data.module.js" %}' ></script>
        <script src='{% static "js/app/core/blog_data/blog_data.service.js" %}' ></script>

        <script src='{% static "js/app/core/build_data/build_data.module.js" %}' ></script>
        <script src='{% static "js/app/core/build_data/build_data.service.js" %}' ></script>



        <script src='{% static "js/app/home/homepage/homepage.module.js" %}' ></script>
        <script src='{% static "js/app/home/homepage/homepage.component.js" %}' ></script>

        <script src='{% static "js/app/forum/home/forum_home.module.js" %}' ></script>
        <script src='{% static "js/app/forum/home/forum_home.component.js" %}' ></script>

        <script src='{% static "js/app/forum/sub_category/forum_sub_category.module.js" %}' ></script>
        <script src='{% static "js/app/forum/sub_category/forum_sub_category.component.js" %}' ></script>

        <script src='{% static "js/app/forum/detail/forum_detail.module.js" %}' ></script>
        <script src='{% static "js/app/forum/detail/forum_detail.component.js" %}' ></script>

        <script src='{% static "js/app/forum/create/forum_create.module.js" %}' ></script>
        <script src='{% static "js/app/forum/create/forum_create.component.js" %}' ></script>


        <script src='{% static "js/app/account/login/account_login.module.js" %}' ></script>
        <script src='{% static "js/app/account/login/account_login.component.js" %}' ></script>

        <script src='{% static "js/app/account/profile/account_profile.module.js" %}' ></script>
        <script src='{% static "js/app/account/profile/account_profile.component.js" %}' ></script>

        <script src='{% static "js/app/account/create_user/account_create.module.js" %}' ></script>
        <script src='{% static "js/app/account/create_user/account_create.component.js" %}' ></script>

        <script src='{% static "js/app/account/edit/account_edit.module.js" %}' ></script>
        <script src='{% static "js/app/account/edit/account_edit.component.js" %}' ></script>

        <script src='{% static "js/app/gunpla/list/gunpla_list.module.js" %}' ></script>
        <script src='{% static "js/app/gunpla/list/gunpla_list.component.js" %}' ></script>

        <script src='{% static "js/app/gunpla/detail/gunpla_detail.module.js" %}' ></script>
        <script src='{% static "js/app/gunpla/detail/gunpla_detail.component.js" %}' ></script>

        <script src='{% static "js/app/question/list/question_list.module.js" %}' ></script>
        <script src='{% static "js/app/question/list/question_list.component.js" %}' ></script>

        <script src='{% static "js/app/question/detail/question_detail.module.js" %}' ></script>
        <script src='{% static "js/app/question/detail/question_detail.component.js" %}' ></script>

        <script src='{% static "js/app/blog/create/blog_create.module.js" %}' ></script>
        <script src='{% static "js/app/blog/create/blog_create.component.js" %}' ></script>

        <script src='{% static "js/app/blog/detail/blog_detail.module.js" %}' ></script>
        <script src='{% static "js/app/blog/detail/blog_detail.component.js" %}' ></script>

        <script src='{% static "js/app/blog/list/blog_list.module.js" %}' ></script>
        <script src='{% static "js/app/blog/list/blog_list.component.js" %}' ></script>

        <script src='{% static "js/app/build/list/build_list.module.js" %}' ></script>
        <script src='{% static "js/app/build/list/build_list.component.js" %}' ></script>

        <script src='{% static "js/app/build/detail/build_detail.module.js" %}' ></script>
        <script src='{% static "js/app/build/detail/build_detail.component.js" %}' ></script>

        <script src='{% static "js/app/build/create/build_create.module.js" %}' ></script>
        <script src='{% static "js/app/build/create/build_create.component.js" %}' ></script>






        <script src='{% static "js/app/utils/navi_bar/navi_bar.module.js" %}' ></script>
        <script src='{% static "js/app/utils/navi_bar/navi_bar.directive.js" %}' ></script>

        <script src='{% static "js/app/utils/pagination/pagination.module.js" %}' ></script>
        <script src='{% static "js/app/utils/pagination/pagination.directive.js" %}' ></script>






        <!--3rd party -->
        <script src='{% static "js/app/others/ngtimeago.js" %}' ></script>

        <script src='{% static "js/app/others/dirPagination.js" %}' ></script>

        <!--<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>-->

        <script src='{% static "js/app/others/tinymce/js/tinymce/tinymce.min.js" %}' ></script>
        <script src='{% static "js/app/others/angular_tinymce.js" %}' ></script>
        <script src='{% static "js/app/others/ng-file-upload/ng-file-upload-all.js" %}'></script>

        <script src='{% static "js/app/others/masonry/masonry.pkgd.min.js"%}'></script>
        <script src='{% static "js/app/others/masonry/masonry_list.js"%}'></script>
        <script src='{% static "js/app/others/masonry/angulargrid.min.js"%}'></script>
        <script src='{% static "js/app/others/infinitescroll/infinite-scroll.min.js"%}'></script>

        <link rel="stylesheet" href='{% static "css/gundamDB.css" %}'>

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Audiowide">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">

        {% verbatim %}


        {% endverbatim %}

    </head>


    {% verbatim %}
    <body>

    <div class='page'>

        <nav-bar></nav-bar>


        <div ng-view id="main">

        </div>







        <nav-bar-footer></nav-bar-footer>


    </div>



    </body>
{% endverbatim %}

</html>